{
  "openapi": "3.1.0",
  "info": {
    "title": "CSM SIM Composite API",
    "version": "0.1.0",
    "description": "JSON-first composite OpenAPI contract for CSM SIM REST API surfaces.",
    "license": {
      "name": "Proprietary - CSM SIM pilot",
      "identifier": "LicenseRef-CSM-SIM-Pilot"
    }
  },
  "servers": [
    {
      "url": "https://sim.zeleznalady.cz",
      "description": "Published SIM reverse proxy"
    },
    {
      "url": "http://docker.home.cz:5020",
      "description": "Pilot reverse proxy"
    }
  ],
  "security": [
    {
      "bearerAuth": [

      ]
    }
  ],
  "tags": [
    {
      "name": "Simulator: Scenarios",
      "description": "Simulator Scenarios"
    },
    {
      "name": "Simulator: Runtime",
      "description": "Simulator Runtime"
    },
    {
      "name": "Simulator: Faults",
      "description": "Simulator Faults"
    },
    {
      "name": "Simulator: Publisher",
      "description": "Simulator Publisher"
    },
    {
      "name": "Simulator: AI",
      "description": "Simulator AI"
    },
    {
      "name": "Simulator: Operations",
      "description": "Simulator Operations"
    },
    {
      "name": "Simulator: Health",
      "description": "Simulator Health"
    },
    {
      "name": "Flight Data: FlightTracks",
      "description": "Flight Data FlightTracks"
    },
    {
      "name": "Flight Data: Reference",
      "description": "Flight Data Reference"
    },
    {
      "name": "Flight Data: Sources",
      "description": "Flight Data Sources"
    },
    {
      "name": "Flight Data: Health",
      "description": "Flight Data Health"
    }
  ],
  "paths": {
    "/api/v1/scenarios": {
      "get": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Vrátí seznam scénářů.",
        "operationId": "simulator_listScenarios",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorScenarioListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      },
      "post": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Vytvoří scénář.",
        "operationId": "simulator_createScenario",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../docs/api/schemas/scenario.schema.json"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorScenarioResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}": {
      "get": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Vrátí detail scénáře.",
        "operationId": "simulator_getScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../docs/api/schemas/scenario.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      },
      "patch": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Upraví draft scénáře.",
        "operationId": "simulator_updateScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../docs/api/schemas/scenario.schema.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../docs/api/schemas/scenario.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      },
      "delete": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Smaže scénář, pokud není spuštěný.",
        "operationId": "simulator_deleteScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Smazáno"
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/start": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Spustí validovaný scénář.",
        "operationId": "simulator_startScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/pause": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Pozastaví běžící scénář.",
        "operationId": "simulator_pauseScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/resume": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Obnoví pozastavený scénář.",
        "operationId": "simulator_resumeScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/stop": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Zastaví scénář.",
        "operationId": "simulator_stopScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/reset": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Resetuje scénář do READY stavu.",
        "operationId": "simulator_resetScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/step": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Provede jeden step v režimu krokování.",
        "operationId": "simulator_stepScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/faults": {
      "post": {
        "tags": [
          "Simulator: Faults"
        ],
        "summary": "Přidá fault injection do scénáře.",
        "operationId": "simulator_addFault",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../docs/api/schemas/fault-injection.schema.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../docs/api/schemas/fault-injection.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      },
      "get": {
        "tags": [
          "Simulator: Faults"
        ],
        "summary": "Vrátí faults pro scénář.",
        "operationId": "simulator_listFaults",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorFaultListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/faults/{faultId}": {
      "delete": {
        "tags": [
          "Simulator: Faults"
        ],
        "summary": "Odstraní fault injection.",
        "operationId": "simulator_deleteFault",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "faultId",
            "in": "path",
            "required": true,
            "description": "Identifikátor fault injection.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Smazáno"
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/runtime/status": {
      "get": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Vrátí runtime status.",
        "operationId": "simulator_getRuntimeStatus",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/runtime/metrics": {
      "get": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Vrátí runtime metriky.",
        "operationId": "simulator_getRuntimeMetrics",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorMetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/runtime/blocks": {
      "get": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Vrátí dostupné simulační bloky.",
        "operationId": "simulator_getRuntimeBlocks",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorBlocksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/runtime/publisher": {
      "get": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Vrátí stav publisheru pro runtime.",
        "operationId": "simulator_getRuntimePublisher",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/test-connection": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Otestuje spojení na COP nebo mock endpoint.",
        "operationId": "simulator_testPublisherConnection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../docs/api/schemas/publisher-config.schema.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherTestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/send-sample": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Odešle sample syntetický event nebo dry-run validaci.",
        "operationId": "simulator_sendPublisherSample",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../docs/api/schemas/canonical-event-envelope.schema.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherSendResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/status": {
      "get": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Vrátí stav publisheru.",
        "operationId": "simulator_getPublisherStatus",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/queue": {
      "get": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Vrátí položky publisher queue.",
        "operationId": "simulator_getPublisherQueue",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherQueueResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/queue/retry": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Naplánuje retry queue položek.",
        "operationId": "simulator_retryPublisherQueue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorQueueActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorQueueActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/queue/clear": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Vyčistí queue v povoleném režimu.",
        "operationId": "simulator_clearPublisherQueue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorQueueActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorQueueActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/stop": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Okamžitě zastaví live publikaci bez smazání queue.",
        "operationId": "simulator_stopPublisher",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts": {
      "post": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Vytvoří AI draft syntetického scénáře.",
        "operationId": "simulator_createScenarioDraft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorAiDraftRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../docs/api/schemas/ai-scenario-draft.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts/{draftId}": {
      "get": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Vrátí AI draft.",
        "operationId": "simulator_getScenarioDraft",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "description": "Identifikátor AI draftu.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../docs/api/schemas/ai-scenario-draft.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts/{draftId}/validate": {
      "post": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Validuje AI draft.",
        "operationId": "simulator_validateScenarioDraft",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "description": "Identifikátor AI draftu.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorValidationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts/{draftId}/accept": {
      "post": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Přijme AI draft jako scénář.",
        "operationId": "simulator_acceptScenarioDraft",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "description": "Identifikátor AI draftu.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorScenarioResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts/{draftId}/reject": {
      "post": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Odmítne AI draft.",
        "operationId": "simulator_rejectScenarioDraft",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "description": "Identifikátor AI draftu.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRejectDraftRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorAiDraftActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/providers": {
      "get": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Vrátí AI providery a jejich stav.",
        "operationId": "simulator_listAiProviders",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorAiProvidersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/config": {
      "patch": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Upraví AI konfiguraci.",
        "operationId": "simulator_updateAiConfig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorAiConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorAiConfigResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/operations/summary": {
      "get": {
        "tags": [
          "Simulator: Operations"
        ],
        "summary": "Lehky sanitizovany provozni souhrn pro SIM Operations Center.",
        "operationId": "simulator_getOperationsSummary",
        "responses": {
          "200": {
            "description": "Uspesna odpoved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorOperationsSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/operations/provider-details": {
      "get": {
        "tags": [
          "Simulator: Operations"
        ],
        "summary": "Chraneny server-side snapshot detailu provideru pro SIM Operations Center.",
        "operationId": "simulator_getOperationsProviderDetails",
        "parameters": [
          {
            "name": "includeDetails",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "includeObservability",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Uspesna odpoved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorOperationsProviderDetails"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/health/live": {
      "get": {
        "tags": [
          "Simulator: Health"
        ],
        "summary": "Liveness probe.",
        "operationId": "simulator_liveHealth",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorHealthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/health/ready": {
      "get": {
        "tags": [
          "Simulator: Health"
        ],
        "summary": "Readiness probe.",
        "operationId": "simulator_readyHealth",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorHealthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/health/dependencies": {
      "get": {
        "tags": [
          "Simulator: Health"
        ],
        "summary": "Dependency health.",
        "operationId": "simulator_dependenciesHealth",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorDependenciesHealthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": [
          "Simulator: Health"
        ],
        "summary": "Prometheus-style metrics endpoint.",
        "operationId": "simulator_metrics",
        "responses": {
          "200": {
            "description": "Metrics in Prometheus text format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/flight-data/api/v1/cop/tracks": {
      "get": {
        "tags": [
          "Flight Data: FlightTracks"
        ],
        "summary": "Kompatibilní projekce deduplikovaných letových tracků pro existující backend adapter.",
        "deprecated": true,
        "description": "Nové integrace mají preferovat source-neutral COM mapový kontrakt a normalizovaná data z /api/v1/aircraft/positions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "$ref": "#/components/parameters/FlightDataSource"
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          },
          {
            "$ref": "#/components/parameters/FlightDataIncludeStale"
          }
        ],
        "responses": {
          "200": {
            "description": "Compatibility flight source response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataCopTrackResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/FlightDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_cop_tracks"
      }
    },
    "/flight-data/api/v1/aircraft/positions": {
      "get": {
        "tags": [
          "Flight Data: FlightTracks"
        ],
        "summary": "Vrátí normalizované deduplikované letové tracky.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "$ref": "#/components/parameters/FlightDataSource"
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          },
          {
            "$ref": "#/components/parameters/FlightDataIncludeStale"
          }
        ],
        "responses": {
          "200": {
            "description": "Flight track response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataFlightTrackResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_aircraft_positions"
      }
    },
    "/flight-data/api/v1/sources": {
      "get": {
        "tags": [
          "Flight Data: Sources"
        ],
        "summary": "Vrátí dostupné zdroje a licenční metadata.",
        "responses": {
          "200": {
            "description": "Source list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FlightDataSourceDescriptor"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_sources"
      }
    },
    "/flight-data/api/v1/catalog": {
      "get": {
        "tags": [
          "Flight Data: Sources"
        ],
        "summary": "Vrátí Flight Data provider katalog pro COM Map Catalog v1.",
        "description": "Katalog odděluje uživatelské vrstvy flight.public.tracks a flight.reference.airports od technických upstream zdrojů.",
        "responses": {
          "200": {
            "description": "Provider map catalog metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contractVersion",
                    "providerId",
                    "generatedAt",
                    "status",
                    "layers",
                    "sources"
                  ],
                  "properties": {
                    "contractVersion": {
                      "type": "string",
                      "const": "provider-map-catalog-v1"
                    },
                    "providerId": {
                      "type": "string",
                      "const": "sim.flight-data"
                    },
                    "generatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "online"
                      ]
                    },
                    "layers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_catalog"
      }
    },
    "/flight-data/api/v1/config": {
      "get": {
        "tags": [
          "Flight Data: Sources"
        ],
        "summary": "Vrátí aktuální non-secret konfiguraci Flight Data API.",
        "responses": {
          "200": {
            "description": "Public runtime configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataFlightDataConfig"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_config"
      }
    },
    "/flight-data/api/v1/airports": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vyhledá letiště.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Airport list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FlightDataAirport"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_airports"
      }
    },
    "/flight-data/api/v1/airports/{ident}": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí letiště podle ICAO nebo IATA kódu.",
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Airport",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataAirport"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_airports_ident"
      }
    },
    "/flight-data/api/v1/airspaces": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí referenční letecké prostory jako GeoJSON FeatureCollection.",
        "description": "Cacheovaná referenční vrstva AIP/eAIP ENR 5.1 pro zakázané, omezené a nebezpečné prostory. Výstup je situační reference, ne navigační ani právně závazná letecká informace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Comma-separated airspace types.",
            "schema": {
              "type": "string",
              "example": "prohibited,restricted,danger"
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Airspace GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataAirspaceFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_airspaces"
      }
    },
    "/flight-data/api/v1/uas-geozones": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí referenční UAS zeměpisné zóny jako GeoJSON FeatureCollection.",
        "description": "Cacheovaná vrstva oficiálních AIM/ŘLP JSON datových sad pro UAS geoawareness. Výchozí konfigurace importuje jen vybrané vrstvy vhodné pro runtime API; velké balíčky mají být řešené importem do PostGIS/tile cache.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "name": "layer",
            "in": "query",
            "description": "Comma-separated AIM publication/layer ids.",
            "schema": {
              "type": "string",
              "example": "LKR314A,LKR320A"
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "UAS geozone GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataUasGeozoneFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_uas_geozones"
      }
    },
    "/flight-data/api/v1/airspace-activations": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí aktuální aktivace vzdušných prostorů z AUP/UUP jako GeoJSON FeatureCollection.",
        "description": "Dynamická vrstva AUP/UUP, kde SIM páruje TRA/TSA aktivace na dostupnou geometrii z importovaných AIM UAS zón.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "name": "includeCancelled",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Airspace activation GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataAirspaceActivationFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_airspace_activations"
      }
    },
    "/flight-data/api/v1/aircraft-types": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vyhledá typy letadel.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Aircraft type list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FlightDataAircraftType"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_aircraft_types"
      }
    },
    "/flight-data/api/v1/aircraft-types/{designator}": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí typ letadla podle ICAO designátoru.",
        "parameters": [
          {
            "name": "designator",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aircraft type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataAircraftType"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_aircraft_types_designator"
      }
    },
    "/flight-data/health/live": {
      "get": {
        "tags": [
          "Flight Data: Health"
        ],
        "summary": "Liveness check.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_health_live"
      }
    },
    "/flight-data/health/ready": {
      "get": {
        "tags": [
          "Flight Data: Health"
        ],
        "summary": "Readiness check.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_health_ready"
      }
    },
    "/situation-data/api/v1/layers": {
      "get": {
        "summary": "List available situation layers",
        "responses": {
          "200": {
            "description": "Layer registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SituationDataLayerDescriptor"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_layers",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/sources": {
      "get": {
        "summary": "List provider metadata and license state",
        "responses": {
          "200": {
            "description": "Source registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SituationDataSourceDescriptor"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_sources",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/catalog": {
      "get": {
        "summary": "Return SIM provider metadata for COM Map Catalog v1",
        "description": "Separates user-facing map products from technical upstream sources. Existing /layers and /sources remain compatibility endpoints.",
        "responses": {
          "200": {
            "description": "Provider map catalog metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataProviderMapCatalog"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_catalog",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/taxonomy": {
      "get": {
        "summary": "Return stable provider taxonomy and rendering dictionaries",
        "description": "Lightweight server-side dictionary for COP layer, severity and geometry-role handling. It is authoritative for SIM presentation keys but does not replace /catalog.",
        "responses": {
          "200": {
            "description": "Provider taxonomy document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataProviderTaxonomy"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_taxonomy",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/config": {
      "get": {
        "summary": "Read non-secret runtime configuration",
        "responses": {
          "200": {
            "description": "Public runtime configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataPublicConfig"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_config",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/features": {
      "get": {
        "summary": "Return aggregated GeoJSON situation features",
        "parameters": [
          {
            "$ref": "#/components/parameters/SituationDataBbox"
          },
          {
            "$ref": "#/components/parameters/SituationDataLayers"
          },
          {
            "$ref": "#/components/parameters/SituationDataSources"
          },
          {
            "$ref": "#/components/parameters/SituationDataTechnologies"
          },
          {
            "$ref": "#/components/parameters/SituationDataOperators"
          },
          {
            "$ref": "#/components/parameters/SituationDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection with SIM metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataSituationFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_features",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/features/summary": {
      "get": {
        "summary": "Return lightweight situation feature summaries without geometry",
        "description": "Uses the same query parameters as /features, but omits GeoJSON coordinates. COP should use this for dashboards, lists and readiness previews.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SituationDataBbox"
          },
          {
            "$ref": "#/components/parameters/SituationDataLayers"
          },
          {
            "$ref": "#/components/parameters/SituationDataSources"
          },
          {
            "$ref": "#/components/parameters/SituationDataTechnologies"
          },
          {
            "$ref": "#/components/parameters/SituationDataOperators"
          },
          {
            "$ref": "#/components/parameters/SituationDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Situation feature summary collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataProviderFeatureSummaryCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_features_summary",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/features/density": {
      "get": {
        "summary": "Return density grid cells for low-zoom situation rendering",
        "description": "Uses the same query parameters as /features, but groups returned features into stable WGS84 grid cells and omits original geometries. COP should use this for dense low-zoom layers before requesting detail or original geometry on drill-down.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SituationDataBbox"
          },
          {
            "$ref": "#/components/parameters/SituationDataLayers"
          },
          {
            "$ref": "#/components/parameters/SituationDataSources"
          },
          {
            "$ref": "#/components/parameters/SituationDataTechnologies"
          },
          {
            "$ref": "#/components/parameters/SituationDataOperators"
          },
          {
            "$ref": "#/components/parameters/SituationDataLimit"
          },
          {
            "name": "cellSizeDegrees",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 0.001,
              "maximum": 2,
              "example": 0.1
            },
            "description": "Stable WGS84 grid cell size in degrees. Aliases `gridDegrees` and `grid` are also accepted. When omitted, SIM derives a safe size from the query bbox span."
          },
          {
            "name": "maxCells",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 512
            },
            "description": "Maximum density cells returned after sorting by count and severity."
          },
          {
            "name": "sampleSize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 20,
              "default": 5
            },
            "description": "Maximum sample feature ids included in each grid cell for COP drill-down."
          }
        ],
        "responses": {
          "200": {
            "description": "Situation feature density grid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataProviderFeatureDensityCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_features_density",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/features/{featureId}/geometry": {
      "get": {
        "summary": "Return geometry for one situation feature",
        "description": "Uses the same query window as /features and returns only the selected feature geometry plus geometry metadata.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SituationDataFeatureId"
          },
          {
            "$ref": "#/components/parameters/SituationDataBbox"
          },
          {
            "$ref": "#/components/parameters/SituationDataLayers"
          },
          {
            "$ref": "#/components/parameters/SituationDataSources"
          },
          {
            "$ref": "#/components/parameters/SituationDataTechnologies"
          },
          {
            "$ref": "#/components/parameters/SituationDataOperators"
          },
          {
            "$ref": "#/components/parameters/SituationDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Situation feature geometry document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataProviderFeatureGeometry"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_features_featureId_geometry",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/features/{featureId}": {
      "get": {
        "summary": "Return detail for one situation feature without heavy geometry",
        "description": "Uses the same query window as /features and returns provider properties, localized text and links to geometry. Raw upstream payloads are not exposed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SituationDataFeatureId"
          },
          {
            "$ref": "#/components/parameters/SituationDataBbox"
          },
          {
            "$ref": "#/components/parameters/SituationDataLayers"
          },
          {
            "$ref": "#/components/parameters/SituationDataSources"
          },
          {
            "$ref": "#/components/parameters/SituationDataTechnologies"
          },
          {
            "$ref": "#/components/parameters/SituationDataOperators"
          },
          {
            "$ref": "#/components/parameters/SituationDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Situation feature detail document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataProviderFeatureDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_features_featureId",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/cop/features": {
      "get": {
        "summary": "Compatibility alias for the server-side situation feature stream",
        "deprecated": true,
        "description": "Kept for existing COM/COP backend adapters. New provider integrations should prefer /features or the COM /api/v1/map/query facade.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SituationDataBbox"
          },
          {
            "$ref": "#/components/parameters/SituationDataLayers"
          },
          {
            "$ref": "#/components/parameters/SituationDataSources"
          },
          {
            "$ref": "#/components/parameters/SituationDataTechnologies"
          },
          {
            "$ref": "#/components/parameters/SituationDataOperators"
          },
          {
            "$ref": "#/components/parameters/SituationDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Situation FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataSituationFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_cop_features",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/mobile-coverage/metadata": {
      "get": {
        "summary": "Return mobile coverage model metadata",
        "responses": {
          "200": {
            "description": "Mobile coverage model metadata and disclaimer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataMobileCoverageMetadata"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_mobile_coverage_metadata",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/mobile-coverage/towers/{towerId}/viewshed": {
      "get": {
        "summary": "Return a modelled per-tower mobile coverage viewshed",
        "description": "Builds an on-demand radial GeoJSON overlay for one OSM communications_tower reference. The output is an estimated terrain-aware radio reach, not confirmed operator BTS/NOC state or an RF-planning product.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SituationDataTowerId"
          },
          {
            "name": "technology",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SituationDataMobileCoverageTechnology"
            },
            "description": "Technology for the modelled reach. Defaults to 4G."
          },
          {
            "name": "radiusM",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 500,
              "maximum": 30000
            },
            "description": "Requested radius in metres. SIM clamps unsafe values."
          },
          {
            "name": "azimuthStepDeg",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 2,
              "maximum": 90,
              "default": 10
            },
            "description": "Angular sector width in degrees."
          },
          {
            "name": "distanceStepM",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 100,
              "maximum": 2500,
              "default": 500
            },
            "description": "Radial band width in metres."
          },
          {
            "name": "includeNoSignal",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include sectors with quality=none. Defaults to false so COP renders only estimated reach; use true only for diagnostic radial-grid display."
          },
          {
            "name": "includeRaw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include debug-only model internals. COP should not request this for normal operator display."
          }
        ],
        "responses": {
          "200": {
            "description": "Modelled per-tower viewshed GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataMobileCoverageTowerViewshedCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "503": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_mobile_coverage_towers_towerId_viewshed",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/radio/profiles": {
      "get": {
        "summary": "Return built-in and custom radio planning profiles",
        "description": "Lists non-sensitive civil, amateur, business, public-safety and generic military radio profiles for DEM line-of-sight planning.",
        "responses": {
          "200": {
            "description": "Radio profile catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataRadioProfileCatalog"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_radio_profiles",
        "tags": [
          "Situation Data: Situation Data"
        ]
      },
      "post": {
        "summary": "Save or update a custom radio planning profile",
        "description": "Stores an operator-defined non-secret radio profile in SIM data storage for reuse by COP. Do not submit classified frequencies, COMSEC material, callsigns or tactical notes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SituationDataRadioProfileInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Saved radio profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataRadioProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "409": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_post_situation_data_api_v1_radio_profiles",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/radio/link-check": {
      "post": {
        "summary": "Check modelled line-of-sight and link budget between two points",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SituationDataRadioLinkCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Radio link check result with optional terrain profile samples",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataRadioLinkCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_post_situation_data_api_v1_radio_link_check",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/radio/coverage": {
      "post": {
        "summary": "Build a modelled radio coverage overlay from one station point",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SituationDataRadioCoverageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Radio coverage GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataRadioFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_post_situation_data_api_v1_radio_coverage",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/radio/site-search": {
      "post": {
        "summary": "Find candidate radio station sites inside an area",
        "description": "Scores candidate points in a bbox against target points. The output is a planning aid, not a tactical recommendation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SituationDataRadioSiteSearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked radio site candidate GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataRadioFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_post_situation_data_api_v1_radio_site_search",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/dem/metadata": {
      "get": {
        "summary": "Return DEM catalog metadata",
        "responses": {
          "200": {
            "description": "DEM catalog metadata, storage state and import warnings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataDemCatalogStatus"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_dem_metadata",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/weather-radar/frames": {
      "get": {
        "summary": "Return CHMI weather radar frame catalog metadata",
        "description": "Lists recent CHMI radar frames indexed by SIM for timeline and replay integration. PNG frames include clean SIM crop URLs; raw upstream URLs remain available for diagnostics.",
        "parameters": [
          {
            "name": "product",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "merge1h"
            },
            "description": "Optional comma-separated product ids, e.g. maxz,pseudocappi2km,merge1h,thunderstorm_risk."
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 6,
              "minimum": 1,
              "maximum": 72
            },
            "description": "Time window for indexed frames."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 72,
              "minimum": 1,
              "maximum": 288
            },
            "description": "Maximum frames per product."
          },
          {
            "name": "materialize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional server-side fetch into local frame store. Normally enabled by server configuration, not by clients."
          }
        ],
        "responses": {
          "200": {
            "description": "Radar frame catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataWeatherRadarFrameCatalog"
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or unauthorized bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_weather_radar_frames",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/weather-radar/assets/{productId}/{fileName}": {
      "get": {
        "summary": "Return a locally stored CHMI weather radar frame asset",
        "description": "Serves only frames previously materialized into the SIM local radar frame store.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "merge1h"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pacz2gmaps3.merge.20260621.1200.60.png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stored radar image or archive",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/x-tar": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_weather_radar_assets_productId_fileName",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/weather-radar/clean/{productId}/{fileName}": {
      "get": {
        "summary": "Return a clean SIM-processed CHMI weather radar PNG frame",
        "description": "Lazily fetches a raw CHMI PNG frame, crops it to the radar data bounds, stores the processed PNG in the SIM local frame cache and returns it for COP raster overlay rendering.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "merge1h"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pacz2gmaps3.merge.20260621.1200.60.png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clean cropped radar PNG",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_weather_radar_clean_productId_fileName",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/weather-cameras": {
      "get": {
        "summary": "Return CHMI weather camera locations",
        "description": "Lists CHMI public webcam locations normalized by SIM. Image payloads are intentionally omitted; COP should request detail or snapshot endpoints on click.",
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "14.4,50.0,14.5,50.1"
            },
            "description": "Optional WGS84 bbox west,south,east,north."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 250,
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CHMI weather camera catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataWeatherCameraCatalog"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_weather_cameras",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/weather-cameras/{locationId}": {
      "get": {
        "summary": "Return CHMI weather camera detail",
        "description": "Returns camera choices for one CHMI webcam location. The response contains snapshot URLs but not the base64 image payload.",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "wgs84_14p445358_50p007510"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CHMI weather camera detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataWeatherCameraDetail"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
[...]
