{
  "openapi": "3.1.0",
  "info": {
    "title": "CSM SIM Composite API",
    "version": "0.1.0",
    "description": "JSON-first composite OpenAPI contract for CSM SIM REST API surfaces."
  },
  "servers": [
    {
      "url": "https://sim.zeleznalady.cz",
      "description": "Published SIM reverse proxy"
    },
    {
      "url": "http://docker.home.cz:5020",
      "description": "Pilot reverse proxy"
    },
    {
      "url": "http://localhost:5020",
      "description": "Local Docker Compose reverse proxy"
    }
  ],
  "tags": [
    {
      "name": "Simulator: Scenarios",
      "description": "Simulator Scenarios"
    },
    {
      "name": "Simulator: Runtime",
      "description": "Simulator Runtime"
    },
    {
      "name": "Simulator: Faults",
      "description": "Simulator Faults"
    },
    {
      "name": "Simulator: Publisher",
      "description": "Simulator Publisher"
    },
    {
      "name": "Simulator: AI",
      "description": "Simulator AI"
    },
    {
      "name": "Simulator: Health",
      "description": "Simulator Health"
    },
    {
      "name": "Flight Data: FlightTracks",
      "description": "Flight Data FlightTracks"
    },
    {
      "name": "Flight Data: Reference",
      "description": "Flight Data Reference"
    },
    {
      "name": "Flight Data: Sources",
      "description": "Flight Data Sources"
    },
    {
      "name": "Flight Data: Health",
      "description": "Flight Data Health"
    }
  ],
  "paths": {
    "/api/v1/scenarios": {
      "get": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Vrátí seznam scénářů.",
        "operationId": "simulator_listScenarios",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorScenarioListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      },
      "post": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Vytvoří scénář.",
        "operationId": "simulator_createScenario",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/scenario.schema.json"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorScenarioResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}": {
      "get": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Vrátí detail scénáře.",
        "operationId": "simulator_getScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/scenario.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      },
      "patch": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Upraví draft scénáře.",
        "operationId": "simulator_updateScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/scenario.schema.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/scenario.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      },
      "delete": {
        "tags": [
          "Simulator: Scenarios"
        ],
        "summary": "Smaže scénář, pokud není spuštěný.",
        "operationId": "simulator_deleteScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Smazáno"
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/start": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Spustí validovaný scénář.",
        "operationId": "simulator_startScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/pause": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Pozastaví běžící scénář.",
        "operationId": "simulator_pauseScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/resume": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Obnoví pozastavený scénář.",
        "operationId": "simulator_resumeScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/stop": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Zastaví scénář.",
        "operationId": "simulator_stopScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/reset": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Resetuje scénář do READY stavu.",
        "operationId": "simulator_resetScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/step": {
      "post": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Provede jeden step v režimu krokování.",
        "operationId": "simulator_stepScenario",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRuntimeCommandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/faults": {
      "post": {
        "tags": [
          "Simulator: Faults"
        ],
        "summary": "Přidá fault injection do scénáře.",
        "operationId": "simulator_addFault",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/fault-injection.schema.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/fault-injection.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      },
      "get": {
        "tags": [
          "Simulator: Faults"
        ],
        "summary": "Vrátí faults pro scénář.",
        "operationId": "simulator_listFaults",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorFaultListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/scenarios/{scenarioId}/faults/{faultId}": {
      "delete": {
        "tags": [
          "Simulator: Faults"
        ],
        "summary": "Odstraní fault injection.",
        "operationId": "simulator_deleteFault",
        "parameters": [
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "Identifikátor scénáře.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "faultId",
            "in": "path",
            "required": true,
            "description": "Identifikátor fault injection.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Smazáno"
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/runtime/status": {
      "get": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Vrátí runtime status.",
        "operationId": "simulator_getRuntimeStatus",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorRuntimeStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/runtime/metrics": {
      "get": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Vrátí runtime metriky.",
        "operationId": "simulator_getRuntimeMetrics",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorMetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/runtime/blocks": {
      "get": {
        "tags": [
          "Simulator: Runtime"
        ],
        "summary": "Vrátí dostupné simulační bloky.",
        "operationId": "simulator_getRuntimeBlocks",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorBlocksResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/runtime/publisher": {
      "get": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Vrátí stav publisheru pro runtime.",
        "operationId": "simulator_getRuntimePublisher",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/test-connection": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Otestuje spojení na COP nebo mock endpoint.",
        "operationId": "simulator_testPublisherConnection",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/publisher-config.schema.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherTestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/send-sample": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Odešle sample syntetický event nebo dry-run validaci.",
        "operationId": "simulator_sendPublisherSample",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "./schemas/canonical-event-envelope.schema.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherSendResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/status": {
      "get": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Vrátí stav publisheru.",
        "operationId": "simulator_getPublisherStatus",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/queue": {
      "get": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Vrátí položky publisher queue.",
        "operationId": "simulator_getPublisherQueue",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherQueueResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/queue/retry": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Naplánuje retry queue položek.",
        "operationId": "simulator_retryPublisherQueue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorQueueActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorQueueActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/queue/clear": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Vyčistí queue v povoleném režimu.",
        "operationId": "simulator_clearPublisherQueue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorQueueActionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorQueueActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/publisher/stop": {
      "post": {
        "tags": [
          "Simulator: Publisher"
        ],
        "summary": "Okamžitě zastaví live publikaci bez smazání queue.",
        "operationId": "simulator_stopPublisher",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorPublisherStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts": {
      "post": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Vytvoří AI draft syntetického scénáře.",
        "operationId": "simulator_createScenarioDraft",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorAiDraftRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/ai-scenario-draft.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts/{draftId}": {
      "get": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Vrátí AI draft.",
        "operationId": "simulator_getScenarioDraft",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "description": "Identifikátor AI draftu.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./schemas/ai-scenario-draft.schema.json"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts/{draftId}/validate": {
      "post": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Validuje AI draft.",
        "operationId": "simulator_validateScenarioDraft",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "description": "Identifikátor AI draftu.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorValidationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts/{draftId}/accept": {
      "post": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Přijme AI draft jako scénář.",
        "operationId": "simulator_acceptScenarioDraft",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "description": "Identifikátor AI draftu.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorScenarioResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/scenario-drafts/{draftId}/reject": {
      "post": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Odmítne AI draft.",
        "operationId": "simulator_rejectScenarioDraft",
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "description": "Identifikátor AI draftu.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorRejectDraftRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorAiDraftActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/providers": {
      "get": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Vrátí AI providery a jejich stav.",
        "operationId": "simulator_listAiProviders",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorAiProvidersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/api/v1/ai/config": {
      "patch": {
        "tags": [
          "Simulator: AI"
        ],
        "summary": "Upraví AI konfiguraci.",
        "operationId": "simulator_updateAiConfig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimulatorAiConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorAiConfigResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/health/live": {
      "get": {
        "tags": [
          "Simulator: Health"
        ],
        "summary": "Liveness probe.",
        "operationId": "simulator_liveHealth",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorHealthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/health/ready": {
      "get": {
        "tags": [
          "Simulator: Health"
        ],
        "summary": "Readiness probe.",
        "operationId": "simulator_readyHealth",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorHealthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/health/dependencies": {
      "get": {
        "tags": [
          "Simulator: Health"
        ],
        "summary": "Dependency health.",
        "operationId": "simulator_dependenciesHealth",
        "responses": {
          "200": {
            "description": "Úspěšná odpověď",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulatorDependenciesHealthResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": [
          "Simulator: Health"
        ],
        "summary": "Prometheus-style metrics endpoint.",
        "operationId": "simulator_metrics",
        "responses": {
          "200": {
            "description": "Metrics in Prometheus text format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "401": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "403": {
            "$ref": "#/components/responses/SimulatorProblem"
          },
          "500": {
            "$ref": "#/components/responses/SimulatorProblem"
          }
        }
      }
    },
    "/flight-data/api/v1/cop/tracks": {
      "get": {
        "tags": [
          "Flight Data: FlightTracks"
        ],
        "summary": "Kompatibilní projekce deduplikovaných letových tracků pro existující backend adapter.",
        "deprecated": true,
        "description": "Nové integrace mají preferovat source-neutral COM mapový kontrakt a normalizovaná data z /api/v1/aircraft/positions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "$ref": "#/components/parameters/FlightDataSource"
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          },
          {
            "$ref": "#/components/parameters/FlightDataIncludeStale"
          }
        ],
        "responses": {
          "200": {
            "description": "Compatibility flight source response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataCopTrackResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/FlightDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_cop_tracks"
      }
    },
    "/flight-data/api/v1/aircraft/positions": {
      "get": {
        "tags": [
          "Flight Data: FlightTracks"
        ],
        "summary": "Vrátí normalizované deduplikované letové tracky.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "$ref": "#/components/parameters/FlightDataSource"
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          },
          {
            "$ref": "#/components/parameters/FlightDataIncludeStale"
          }
        ],
        "responses": {
          "200": {
            "description": "Flight track response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataFlightTrackResponse"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_aircraft_positions"
      }
    },
    "/flight-data/api/v1/sources": {
      "get": {
        "tags": [
          "Flight Data: Sources"
        ],
        "summary": "Vrátí dostupné zdroje a licenční metadata.",
        "responses": {
          "200": {
            "description": "Source list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FlightDataSourceDescriptor"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_sources"
      }
    },
    "/flight-data/api/v1/catalog": {
      "get": {
        "tags": [
          "Flight Data: Sources"
        ],
        "summary": "Vrátí Flight Data provider katalog pro COM Map Catalog v1.",
        "description": "Katalog odděluje uživatelské vrstvy flight.public.tracks a flight.reference.airports od technických upstream zdrojů.",
        "responses": {
          "200": {
            "description": "Provider map catalog metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contractVersion",
                    "providerId",
                    "generatedAt",
                    "status",
                    "layers",
                    "sources"
                  ],
                  "properties": {
                    "contractVersion": {
                      "type": "string",
                      "const": "provider-map-catalog-v1"
                    },
                    "providerId": {
                      "type": "string",
                      "const": "sim.flight-data"
                    },
                    "generatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "online"
                      ]
                    },
                    "layers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_catalog"
      }
    },
    "/flight-data/api/v1/config": {
      "get": {
        "tags": [
          "Flight Data: Sources"
        ],
        "summary": "Vrátí aktuální non-secret konfiguraci Flight Data API.",
        "responses": {
          "200": {
            "description": "Public runtime configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataFlightDataConfig"
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_config"
      }
    },
    "/flight-data/api/v1/airports": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vyhledá letiště.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Airport list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FlightDataAirport"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_airports"
      }
    },
    "/flight-data/api/v1/airports/{ident}": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí letiště podle ICAO nebo IATA kódu.",
        "parameters": [
          {
            "name": "ident",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Airport",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataAirport"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_airports_ident"
      }
    },
    "/flight-data/api/v1/airspaces": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí referenční letecké prostory jako GeoJSON FeatureCollection.",
        "description": "Cacheovaná referenční vrstva AIP/eAIP ENR 5.1 pro zakázané, omezené a nebezpečné prostory. Výstup je situační reference, ne navigační ani právně závazná letecká informace.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Comma-separated airspace types.",
            "schema": {
              "type": "string",
              "example": "prohibited,restricted,danger"
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Airspace GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataAirspaceFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_airspaces"
      }
    },
    "/flight-data/api/v1/uas-geozones": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí referenční UAS zeměpisné zóny jako GeoJSON FeatureCollection.",
        "description": "Cacheovaná vrstva oficiálních AIM/ŘLP JSON datových sad pro UAS geoawareness. Výchozí konfigurace importuje jen vybrané vrstvy vhodné pro runtime API; velké balíčky mají být řešené importem do PostGIS/tile cache.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "name": "layer",
            "in": "query",
            "description": "Comma-separated AIM publication/layer ids.",
            "schema": {
              "type": "string",
              "example": "LKR314A,LKR320A"
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "UAS geozone GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataUasGeozoneFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_uas_geozones"
      }
    },
    "/flight-data/api/v1/airspace-activations": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí aktuální aktivace vzdušných prostorů z AUP/UUP jako GeoJSON FeatureCollection.",
        "description": "Dynamická vrstva AUP/UUP, kde SIM páruje TRA/TSA aktivace na dostupnou geometrii z importovaných AIM UAS zón.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FlightDataBbox"
          },
          {
            "name": "includeCancelled",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Airspace activation GeoJSON FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataAirspaceActivationFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_airspace_activations"
      }
    },
    "/flight-data/api/v1/aircraft-types": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vyhledá typy letadel.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/FlightDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Aircraft type list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FlightDataAircraftType"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_aircraft_types"
      }
    },
    "/flight-data/api/v1/aircraft-types/{designator}": {
      "get": {
        "tags": [
          "Flight Data: Reference"
        ],
        "summary": "Vrátí typ letadla podle ICAO designátoru.",
        "parameters": [
          {
            "name": "designator",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Aircraft type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FlightDataAircraftType"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/FlightDataProblem"
          }
        },
        "operationId": "flightData_get_flight_data_api_v1_aircraft_types_designator"
      }
    },
    "/flight-data/health/live": {
      "get": {
        "tags": [
          "Flight Data: Health"
        ],
        "summary": "Liveness check.",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "flightData_get_flight_data_health_live"
      }
    },
    "/flight-data/health/ready": {
      "get": {
        "tags": [
          "Flight Data: Health"
        ],
        "summary": "Readiness check.",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "flightData_get_flight_data_health_ready"
      }
    },
    "/situation-data/api/v1/layers": {
      "get": {
        "summary": "List available situation layers",
        "responses": {
          "200": {
            "description": "Layer registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SituationDataLayerDescriptor"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_layers",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/sources": {
      "get": {
        "summary": "List provider metadata and license state",
        "responses": {
          "200": {
            "description": "Source registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SituationDataSourceDescriptor"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_sources",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/catalog": {
      "get": {
        "summary": "Return SIM provider metadata for COM Map Catalog v1",
        "description": "Separates user-facing map products from technical upstream sources. Existing /layers and /sources remain compatibility endpoints.",
        "responses": {
          "200": {
            "description": "Provider map catalog metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataProviderMapCatalog"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_catalog",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/config": {
      "get": {
        "summary": "Read non-secret runtime configuration",
        "responses": {
          "200": {
            "description": "Public runtime configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataPublicConfig"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_config",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/features": {
      "get": {
        "summary": "Return aggregated GeoJSON situation features",
        "parameters": [
          {
            "$ref": "#/components/parameters/SituationDataBbox"
          },
          {
            "$ref": "#/components/parameters/SituationDataLayers"
          },
          {
            "$ref": "#/components/parameters/SituationDataSources"
          },
          {
            "$ref": "#/components/parameters/SituationDataTechnologies"
          },
          {
            "$ref": "#/components/parameters/SituationDataOperators"
          },
          {
            "$ref": "#/components/parameters/SituationDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection with SIM metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataSituationFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_features",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/cop/features": {
      "get": {
        "summary": "Compatibility alias for the server-side situation feature stream",
        "deprecated": true,
        "description": "Kept for existing COM/COP backend adapters. New provider integrations should prefer /features or the COM /api/v1/map/query facade.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SituationDataBbox"
          },
          {
            "$ref": "#/components/parameters/SituationDataLayers"
          },
          {
            "$ref": "#/components/parameters/SituationDataSources"
          },
          {
            "$ref": "#/components/parameters/SituationDataTechnologies"
          },
          {
            "$ref": "#/components/parameters/SituationDataOperators"
          },
          {
            "$ref": "#/components/parameters/SituationDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Situation FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataSituationFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_cop_features",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/mobile-coverage/metadata": {
      "get": {
        "summary": "Return mobile coverage model metadata",
        "responses": {
          "200": {
            "description": "Mobile coverage model metadata and disclaimer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataMobileCoverageMetadata"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_mobile_coverage_metadata",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/dem/metadata": {
      "get": {
        "summary": "Return DEM catalog metadata",
        "responses": {
          "200": {
            "description": "DEM catalog metadata, storage state and import warnings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataDemCatalogStatus"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_dem_metadata",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/weather-radar/frames": {
      "get": {
        "summary": "Return CHMI weather radar frame catalog metadata",
        "description": "Lists recent CHMI radar frames indexed by SIM for timeline and replay integration. PNG frames include clean SIM crop URLs; raw upstream URLs remain available for diagnostics.",
        "parameters": [
          {
            "name": "product",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "merge1h"
            },
            "description": "Optional comma-separated product ids, e.g. maxz,pseudocappi2km,merge1h,thunderstorm_risk."
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 6,
              "minimum": 1,
              "maximum": 72
            },
            "description": "Time window for indexed frames."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 72,
              "minimum": 1,
              "maximum": 288
            },
            "description": "Maximum frames per product."
          },
          {
            "name": "materialize",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional server-side fetch into local frame store. Normally enabled by server configuration, not by clients."
          }
        ],
        "responses": {
          "200": {
            "description": "Radar frame catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataWeatherRadarFrameCatalog"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_weather_radar_frames",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/weather-radar/assets/{productId}/{fileName}": {
      "get": {
        "summary": "Return a locally stored CHMI weather radar frame asset",
        "description": "Serves only frames previously materialized into the SIM local radar frame store.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "merge1h"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pacz2gmaps3.merge.20260621.1200.60.png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Stored radar image or archive",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/x-tar": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_weather_radar_assets_productId_fileName",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/weather-radar/clean/{productId}/{fileName}": {
      "get": {
        "summary": "Return a clean SIM-processed CHMI weather radar PNG frame",
        "description": "Lazily fetches a raw CHMI PNG frame, crops it to the radar data bounds, stores the processed PNG in the SIM local frame cache and returns it for COP raster overlay rendering.",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "merge1h"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pacz2gmaps3.merge.20260621.1200.60.png"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clean cropped radar PNG",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/SituationDataProblem"
          },
          "502": {
            "$ref": "#/components/responses/SituationDataProblem"
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_weather_radar_clean_productId_fileName",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/situation-data/api/v1/observability": {
      "get": {
        "summary": "Return cache, upstream and read-model telemetry for SIM Overview",
        "responses": {
          "200": {
            "description": "Situation data observability payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SituationDataSituationObservability"
                }
              }
            }
          }
        },
        "operationId": "situationData_get_situation_data_api_v1_observability",
        "tags": [
          "Situation Data: Situation Data"
        ]
      }
    },
    "/safety-data/api/v1/layers": {
      "get": {
        "summary": "List available safety layers",
        "responses": {
          "200": {
            "description": "Layer registry"
          }
        },
        "operationId": "safetyData_get_safety_data_api_v1_layers",
        "tags": [
          "Safety Data: Safety Data"
        ]
      }
    },
    "/safety-data/api/v1/sources": {
      "get": {
        "summary": "List provider metadata and license state",
        "responses": {
          "200": {
            "description": "Source registry"
          }
        },
        "operationId": "safetyData_get_safety_data_api_v1_sources",
        "tags": [
          "Safety Data: Safety Data"
        ]
      }
    },
    "/safety-data/api/v1/catalog": {
      "get": {
        "summary": "Return SIM safety provider metadata for COM Map Catalog v1",
        "description": "Separates user-facing safety layers from technical upstream sources.",
        "responses": {
          "200": {
            "description": "Provider map catalog metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contractVersion",
                    "providerId",
                    "generatedAt",
                    "status",
                    "layers",
                    "sources"
                  ],
                  "properties": {
                    "contractVersion": {
                      "type": "string",
                      "const": "provider-map-catalog-v1"
                    },
                    "providerId": {
                      "type": "string",
                      "const": "sim.safety-data"
                    },
                    "generatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "online"
                      ]
                    },
                    "layers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "safetyData_get_safety_data_api_v1_catalog",
        "tags": [
          "Safety Data: Safety Data"
        ]
      }
    },
    "/safety-data/api/v1/config": {
      "get": {
        "summary": "Read non-secret runtime configuration",
        "responses": {
          "200": {
            "description": "Public runtime configuration"
          }
        },
        "operationId": "safetyData_get_safety_data_api_v1_config",
        "tags": [
          "Safety Data: Safety Data"
        ]
      }
    },
    "/safety-data/api/v1/features": {
      "get": {
        "summary": "Return aggregated GeoJSON safety features",
        "parameters": [
          {
            "$ref": "#/components/parameters/SafetyDataBbox"
          },
          {
            "$ref": "#/components/parameters/SafetyDataLayers"
          },
          {
            "$ref": "#/components/parameters/SafetyDataSources"
          },
          {
            "$ref": "#/components/parameters/SafetyDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Safety FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyDataSafetyFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SafetyDataProblem"
          }
        },
        "operationId": "safetyData_get_safety_data_api_v1_features",
        "tags": [
          "Safety Data: Safety Data"
        ]
      }
    },
    "/safety-data/api/v1/cop/features": {
      "get": {
        "summary": "Compatibility alias for the server-side safety feature stream",
        "deprecated": true,
        "description": "Kept for existing COM/COP backend adapters. New provider integrations should prefer /features or the COM /api/v1/map/query facade.",
        "parameters": [
          {
            "$ref": "#/components/parameters/SafetyDataBbox"
          },
          {
            "$ref": "#/components/parameters/SafetyDataLayers"
          },
          {
            "$ref": "#/components/parameters/SafetyDataSources"
          },
          {
            "$ref": "#/components/parameters/SafetyDataLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Safety FeatureCollection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyDataSafetyFeatureCollection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/SafetyDataProblem"
          }
        },
        "operationId": "safetyData_get_safety_data_api_v1_cop_features",
        "tags": [
          "Safety Data: Safety Data"
        ]
      }
    },
    "/tak-gateway/api/v1/catalog": {
      "get": {
        "summary": "Return TAK Gateway provider metadata for COM Map Catalog v1",
        "description": "Partner catalog for TAK mobile, ground and traffic layers. Metadata is public-safe; feature reads can still require a read token.",
        "responses": {
          "200": {
            "description": "Provider map catalog metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contractVersion",
                    "providerId",
                    "generatedAt",
                    "status",
                    "layers",
                    "sources"
                  ],
                  "properties": {
                    "contractVersion": {
                      "type": "string",
                      "const": "provider-map-catalog-v1"
                    },
                    "providerId": {
                      "type": "string",
                      "const": "sim.tak-gateway"
                    },
                    "generatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "online",
                        "degraded"
                      ]
                    },
                    "layers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "takGateway_get_tak_gateway_api_v1_catalog",
        "tags": [
          "TAK Gateway: TAK Gateway"
        ]
      }
    },
    "/tak-gateway/api/v1/cot/events": {
      "post": {
        "summary": "Ingest Cursor-on-Target XML event payload",
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/xml": {
              "schema": {
                "type": "string"
              }
            },
            "text/xml": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "CoT payload accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "accepted",
                    "eventCount",
                    "warningCount",
                    "warnings"
                  ],
                  "properties": {
                    "accepted": {
                      "type": "boolean"
                    },
                    "eventCount": {
                      "type": "integer"
                    },
                    "warningCount": {
                      "type": "integer"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid CoT XML",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayProblem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayProblem"
                }
              }
            }
          }
        },
        "operationId": "takGateway_post_tak_gateway_api_v1_cot_events",
        "tags": [
          "TAK Gateway: TAK Gateway"
        ]
      }
    },
    "/tak-gateway/api/v1/cop/features": {
      "get": {
        "summary": "Compatibility alias for TAK GeoJSON feature projection",
        "deprecated": true,
        "description": "Kept for existing COM/COP backend adapters. New provider integrations should prefer /features through a server-side COM adapter.",
        "security": [
          {
            "bearerAuth": [

            ]
          },
          {
          }
        ],
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "west,south,east,north in WGS84"
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated mobile,ground,traffic"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TAK feature collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayTakFeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bbox, layers or limit query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayProblem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token when public read is disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayProblem"
                }
              }
            }
          }
        },
        "operationId": "takGateway_get_tak_gateway_api_v1_cop_features",
        "tags": [
          "TAK Gateway: TAK Gateway"
        ]
      }
    },
    "/tak-gateway/api/v1/features": {
      "get": {
        "summary": "TAK GeoJSON feature projection for server-side COM adapters",
        "security": [
          {
            "bearerAuth": [

            ]
          },
          {
          }
        ],
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "west,south,east,north in WGS84"
          },
          {
            "name": "layers",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated mobile,ground,traffic"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "includeRaw",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TAK feature collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayTakFeatureCollection"
                }
              }
            }
          },
          "400": {
            "description": "Invalid bbox, layers or limit query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayProblem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token when public read is disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayProblem"
                }
              }
            }
          }
        },
        "operationId": "takGateway_get_tak_gateway_api_v1_features",
        "tags": [
          "TAK Gateway: TAK Gateway"
        ]
      }
    },
    "/tak-gateway/api/v1/layers": {
      "get": {
        "summary": "List TAK layers",
        "responses": {
          "200": {
            "description": "Layer registry"
          }
        },
        "operationId": "takGateway_get_tak_gateway_api_v1_layers",
        "tags": [
          "TAK Gateway: TAK Gateway"
        ]
      }
    },
    "/tak-gateway/api/v1/sources": {
      "get": {
        "summary": "List TAK source descriptors",
        "responses": {
          "200": {
            "description": "Source registry"
          }
        },
        "operationId": "takGateway_get_tak_gateway_api_v1_sources",
        "tags": [
          "TAK Gateway: TAK Gateway"
        ]
      }
    },
    "/tak-gateway/api/v1/config": {
      "get": {
        "summary": "Public runtime config without secrets",
        "responses": {
          "200": {
            "description": "Runtime configuration"
          }
        },
        "operationId": "takGateway_get_tak_gateway_api_v1_config",
        "tags": [
          "TAK Gateway: TAK Gateway"
        ]
      }
    },
    "/tak-gateway/api/v1/events": {
      "get": {
        "summary": "Current normalized CoT event state",
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Event list"
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayProblem"
                }
              }
            }
          }
        },
        "operationId": "takGateway_get_tak_gateway_api_v1_events",
        "tags": [
          "TAK Gateway: TAK Gateway"
        ]
      }
    },
    "/tak-gateway/api/v1/admin/clear": {
      "post": {
        "summary": "Clear current TAK event state",
        "security": [
          {
            "bearerAuth": [

            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current event state cleared"
          },
          "401": {
            "description": "Missing or invalid bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TakGatewayProblem"
                }
              }
            }
          }
        },
        "operationId": "takGateway_post_tak_gateway_api_v1_admin_clear",
        "tags": [
          "TAK Gateway: TAK Gateway"
        ]
      }
    },
    "/situation-data/health/live": {
      "get": {
        "summary": "Situation Data liveness",
        "operationId": "situationData_health_live_live",
        "tags": [
          "Situation Data: Health"
        ],
        "responses": {
          "200": {
            "description": "Service health response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/situation-data/health/ready": {
      "get": {
        "summary": "Situation Data readiness",
        "operationId": "situationData_health_ready_ready",
        "tags": [
          "Situation Data: Health"
        ],
        "responses": {
          "200": {
            "description": "Service health response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/safety-data/health/live": {
      "get": {
        "summary": "Safety Data liveness",
        "operationId": "safetyData_health_live_live",
        "tags": [
          "Safety Data: Health"
        ],
        "responses": {
          "200": {
            "description": "Service health response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/safety-data/health/ready": {
      "get": {
        "summary": "Safety Data readiness",
        "operationId": "safetyData_health_ready_ready",
        "tags": [
          "Safety Data: Health"
        ],
        "responses": {
          "200": {
            "description": "Service health response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tak-gateway/health/live": {
      "get": {
        "summary": "TAK Gateway liveness",
        "operationId": "takGateway_health_live_live",
        "tags": [
          "TAK Gateway: Health"
        ],
        "responses": {
          "200": {
            "description": "Service health response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tak-gateway/health/ready": {
      "get": {
        "summary": "TAK Gateway readiness",
        "operationId": "takGateway_health_ready_ready",
        "tags": [
          "TAK Gateway: Health"
        ],
        "responses": {
          "200": {
            "description": "Service health response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "properties": {
          "status": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "requestId"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "requestId": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            },
            "additionalProperties": true
          }
        }
      },
      "SimulatorErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message",
              "correlationId"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "VALIDATION_ERROR",
                  "UNAUTHORIZED",
                  "FORBIDDEN",
                  "RATE_LIMITED",
                  "SOURCE_REVOKED",
                  "CONFLICT",
                  "INTERNAL_ERROR",
                  "DEPENDENCY_UNAVAILABLE"
                ]
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "correlationId": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        }
      },
      "SimulatorScenarioResponse": {
        "type": "object",
        "required": [
          "scenarioId",
          "status",
          "createdAt"
        ],
        "properties": {
          "scenarioId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "READY",
              "RUNNING",
              "PAUSED",
              "STOPPED",
              "ERROR"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SimulatorScenarioListResponse": {
        "type": "object",
        "required": [
          "items"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "./schemas/scenario.schema.json"
            }
          }
        }
      },
      "SimulatorDeleteResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "SimulatorRuntimeCommandRequest": {
        "type": "object",
        "properties": {
          "dryRun": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "SimulatorRuntimeStatus": {
        "type": "object",
        "required": [
          "state",
          "generatedEvents",
          "publishedEvents",
          "queuedEvents"
        ],
        "properties": {
          "scenarioId": {
            "type": "string",
            "format": "uuid"
          },
          "runtimeId": {
            "type": "string",
            "format": "uuid"
          },
          "state": {
            "type": "string",
            "enum": [
              "DRAFT",
              "READY",
              "RUNNING",
              "PAUSED",
              "STOPPED",
              "ERROR"
            ]
          },
          "startedAt": {
            "type": "string",
            "format": "date-time"
          },
          "generatedEvents": {
            "type": "integer",
            "minimum": 0
          },
          "publishedEvents": {
            "type": "integer",
            "minimum": 0
          },
          "queuedEvents": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "SimulatorMetricsResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "number"
        }
      },
      "SimulatorBlocksResponse": {
        "type": "object",
        "properties": {
          "blocks": {
            "type": "array",
            "items": {
              "$ref": "./schemas/scenario-block.schema.json"
            }
          }
        }
      },
      "SimulatorFaultListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "./schemas/fault-injection.schema.json"
            }
          }
        }
      },
      "SimulatorPublisherStatus": {
        "type": "object",
        "required": [
          "mode",
          "queueSize",
          "deadLetterSize",
          "publishingEnabled"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "DRY_RUN",
              "MOCK",
              "LIVE"
            ]
          },
          "queueSize": {
            "type": "integer",
            "minimum": 0
          },
          "deadLetterSize": {
            "type": "integer",
            "minimum": 0
          },
          "publishingEnabled": {
            "type": "boolean"
          },
          "lastSuccessAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastFailureAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SimulatorPublisherTestResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "mode": {
            "type": "string"
          },
          "latencyMs": {
            "type": "integer"
          }
        }
      },
      "SimulatorPublisherSendResponse": {
        "type": "object",
        "properties": {
          "accepted": {
            "type": "boolean"
          },
          "dryRun": {
            "type": "boolean"
          },
          "eventId": {
            "type": "string",
            "format": "uuid"
          },
          "correlationId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "SimulatorPublisherQueueResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "queueId": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "PENDING",
                    "SENDING",
                    "SENT",
                    "RETRY_SCHEDULED",
[...]
