openapi: 3.1.0
info:
  title: CSM SIM Safety Data API
  version: 0.1.0
  description: Aggregated civil safety risks, weather alerts, fire detections, flood observations and boundary context for COM/server-side map context.
servers:
  - url: https://sim.zeleznalady.cz/safety-data/api/v1
  - url: http://localhost:4030/api/v1
paths:
  /layers:
    get:
      summary: List available safety layers
      responses:
        "200":
          description: Layer registry
  /sources:
    get:
      summary: List provider metadata and license state
      responses:
        "200":
          description: Source registry
  /catalog:
    get:
      summary: Return SIM safety provider metadata for COM Map Catalog v1
      description: Separates user-facing safety layers from technical upstream sources.
      responses:
        "200":
          description: Provider map catalog metadata
          content:
            application/json:
              schema:
                type: object
                required: [contractVersion, providerId, generatedAt, status, layers, sources]
                properties:
                  contractVersion:
                    type: string
                    const: provider-map-catalog-v1
                  providerId:
                    type: string
                    const: sim.safety-data
                  generatedAt:
                    type: string
                    format: date-time
                  status:
                    type: string
                    enum: [online]
                  layers:
                    type: array
                    items:
                      type: object
                  sources:
                    type: array
                    items:
                      type: object
  /taxonomy:
    get:
      summary: Return stable safety taxonomy and CHMI code dictionary
      description: Lightweight server-side dictionary for COP hazard, severity, layer and icon handling. CHMI entries are the authoritative SIM mapping from upstream SIVS/CAP codes to typeCode values.
      responses:
        "200":
          description: Safety taxonomy document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderTaxonomy"
  /config:
    get:
      summary: Read non-secret runtime configuration
      responses:
        "200":
          description: Public runtime configuration
  /features:
    get:
      summary: Return aggregated GeoJSON safety features
      parameters:
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Safety FeatureCollection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafetyFeatureCollection"
        "400":
          $ref: "#/components/responses/Problem"
  /features/summary:
    get:
      summary: Return lightweight safety feature summaries without geometry
      description: Uses the same query parameters as /features, but omits GeoJSON coordinates. COP should use this for dashboards, lists and readiness previews.
      parameters:
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Safety feature summary collection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderFeatureSummaryCollection"
        "400":
          $ref: "#/components/responses/Problem"
  /features/{featureId}/geometry:
    get:
      summary: Return geometry for one safety feature
      description: Uses the same query window as /features and returns only the selected feature geometry plus geometry metadata.
      parameters:
        - $ref: "#/components/parameters/FeatureId"
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Safety feature geometry document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderFeatureGeometry"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
  /features/{featureId}:
    get:
      summary: Return detail for one safety feature without heavy geometry
      description: Uses the same query window as /features and returns provider properties, localized text and links to geometry. Raw upstream payloads are not exposed.
      parameters:
        - $ref: "#/components/parameters/FeatureId"
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Safety feature detail document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderFeatureDetail"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
  /cop/features:
    get:
      summary: Compatibility alias for the server-side safety feature stream
      deprecated: true
      description: Kept for existing COM/COP backend adapters. New provider integrations should prefer /features or the COM /api/v1/map/query facade.
      parameters:
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Safety FeatureCollection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafetyFeatureCollection"
        "400":
          $ref: "#/components/responses/Problem"
  /hydro/stations/{stationId}/observations:
    get:
      summary: Return CHMI hydrological station detail series
      description: Returns locally persisted and recently backfilled CHMI hydro observations and forecasts for COP station detail charts.
      parameters:
        - $ref: "#/components/parameters/HydroStationId"
        - $ref: "#/components/parameters/HydroDetailFrom"
        - $ref: "#/components/parameters/HydroDetailTo"
        - $ref: "#/components/parameters/HydroDetailSeries"
      responses:
        "200":
          description: CHMI hydro station detail series
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HydroStationDetail"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
components:
  parameters:
    Bbox:
      name: bbox
      in: query
      required: false
      schema:
        type: string
        example: "13.85,49.65,15.35,50.45"
      description: WGS84 bbox in west,south,east,north order.
    Layers:
      name: layers
      in: query
      required: false
      schema:
        type: string
        example: warnings,weather_alerts,fire,flood,boundary_admin
    Sources:
      name: source
      in: query
      required: false
      schema:
        type: string
        example: chmi_alerts,chmi_hydro,nasa_firms,gdacs_alerts,hzs_incidents,admin_boundaries
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 250
        maximum: 1000
    FeatureId:
      name: featureId
      in: path
      required: true
      schema:
        type: string
      description: SIM feature id from /features or /features/summary.
    HydroStationId:
      name: stationId
      in: path
      required: true
      schema:
        type: string
      description: CHMI hydrological station objID, or station DBC code when unique in metadata.
    HydroDetailFrom:
      name: from
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: Inclusive start of the requested station detail time window. Defaults to configured past horizon.
    HydroDetailTo:
      name: to
      in: query
      required: false
      schema:
        type: string
        format: date-time
      description: Inclusive end of the requested station detail time window. Defaults to configured forecast horizon.
    HydroDetailSeries:
      name: series
      in: query
      required: false
      schema:
        type: string
        example: H,Q,TH,H_F,Q_F
      description: Comma separated series IDs. H=water level, Q=discharge, TH=water temperature, H_F/Q_F=forecasts.
  responses:
    Problem:
      description: Problem response
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  correlationId:
                    type: string
  schemas:
    BoundingBox:
      type: object
      required: [west, south, east, north]
      properties:
        west:
          type: number
        south:
          type: number
        east:
          type: number
        north:
          type: number
    SafetyFeatureCollection:
      type: object
      required: [contractVersion, type, generatedAt, source, query, summary, features, sources, warnings]
      properties:
        contractVersion:
          const: cop-safety-source-v1
        type:
          const: FeatureCollection
        generatedAt:
          type: string
          format: date-time
        source:
          type: object
          properties:
            sourceId:
              const: safety-data-api
            sourceType:
              const: PUBLIC_SAFETY_AGGREGATE
            generatedAt:
              type: string
              format: date-time
        query:
          type: object
        summary:
          type: object
          properties:
            featureCount:
              type: integer
            sourceCount:
              type: integer
            staleFeatureCount:
              type: integer
            advisoryCount:
              type: integer
            warningCount:
              type: integer
            criticalCount:
              type: integer
        features:
          type: array
          items:
            $ref: "#/components/schemas/SafetyFeature"
        sources:
          type: array
        warnings:
          type: array
          items:
            type: string
    ProviderFeatureSummaryCollection:
      type: object
      required: [contractVersion, generatedAt, providerId, source, query, summary, features, sources, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-provider-feature-summary-v1
        generatedAt:
          type: string
          format: date-time
        providerId:
          type: string
          const: sim.safety-data
        source:
          type: object
          additionalProperties: true
        query:
          type: object
          additionalProperties: true
        summary:
          type: object
          additionalProperties: true
        features:
          type: array
          items:
            $ref: "#/components/schemas/ProviderFeatureSummary"
        sources:
          type: array
        warnings:
          type: array
          items:
            type: string
    ProviderFeatureSummary:
      type: object
      required: [featureId, layer, layerId, providerId, providerLayerId, sourceId, sourceName, label, category, hazardType, severity, status, stale, confidence, observedAt, validFrom, updatedAt, geometrySummary, links]
      properties:
        featureId:
          type: string
        layer:
          enum: [weather_alerts, warnings, fire, flood, boundary_admin]
        layerId:
          type: string
        providerId:
          type: string
          const: sim.safety-data
        providerLayerId:
          type: string
        sourceId:
          enum: [mock, chmi_alerts, chmi_hydro, nasa_firms, gdacs_alerts, hzs_incidents, admin_boundaries]
        sourceName:
          type: string
        label:
          type: string
        description:
          type: string
        category:
          type: string
        hazardType:
          type: string
        typeCode:
          type: string
        sourceCode:
          type: string
        sourceSystem:
          type: string
        severity:
          enum: [info, advisory, warning, critical]
        status:
          type: string
        stale:
          type: boolean
        confidence:
          type: number
        observedAt:
          type: string
          format: date-time
        validFrom:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        areaName:
          type: string
        styleHint:
          type: string
        iconHint:
          type: string
        metrics:
          type: object
          additionalProperties: true
        presentation:
          type: object
          additionalProperties: true
        taxonomy:
          type: object
          additionalProperties: true
        geometrySummary:
          $ref: "#/components/schemas/FeatureGeometrySummary"
        links:
          type: object
          required: [detail, geometry]
          properties:
            detail:
              type: string
            geometry:
              type: string
    ProviderFeatureDetail:
      type: object
      required: [contractVersion, generatedAt, providerId, source, query, summary, properties, links, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-provider-feature-detail-v1
        generatedAt:
          type: string
          format: date-time
        providerId:
          type: string
          const: sim.safety-data
        source:
          type: object
          additionalProperties: true
        query:
          type: object
          additionalProperties: true
        summary:
          $ref: "#/components/schemas/ProviderFeatureSummary"
        properties:
          type: object
          additionalProperties: true
        localized:
          type: object
          additionalProperties: true
        providerProperties:
          type: object
          additionalProperties: true
        links:
          type: object
          additionalProperties: true
        warnings:
          type: array
          items:
            type: string
    ProviderFeatureGeometry:
      type: object
      required: [contractVersion, generatedAt, providerId, featureId, layer, layerId, providerLayerId, resolution, geometry, geometrySummary]
      properties:
        contractVersion:
          type: string
          const: sim-provider-feature-geometry-v1
        generatedAt:
          type: string
          format: date-time
        providerId:
          type: string
          const: sim.safety-data
        featureId:
          type: string
        layer:
          enum: [weather_alerts, warnings, fire, flood, boundary_admin]
        layerId:
          type: string
        providerLayerId:
          type: string
        resolution:
          type: string
          enum: [native]
        geometry:
          type: object
          additionalProperties: true
        geometrySummary:
          $ref: "#/components/schemas/FeatureGeometrySummary"
    FeatureGeometrySummary:
      type: object
      required: [type, coordinateCount, geometryRole]
      properties:
        type:
          type: string
          enum: [Point, Polygon, MultiPolygon]
        bbox:
          $ref: "#/components/schemas/BoundingBox"
        centroid:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: number
        coordinateCount:
          type: integer
        geometryRole:
          type: string
          enum: [feature_geometry]
    ProviderTaxonomy:
      type: object
      required: [contractVersion, generatedAt, providerId, taxonomies]
      properties:
        contractVersion:
          type: string
          const: sim-provider-taxonomy-v1
        generatedAt:
          type: string
          format: date-time
        providerId:
          type: string
          const: sim.safety-data
        taxonomies:
          type: array
          items:
            type: object
            required: [taxonomyId, label, entries]
            properties:
              taxonomyId:
                type: string
              label:
                type: string
              entries:
                type: array
                items:
                  type: object
                  additionalProperties: true
    SafetyFeature:
      type: object
      required: [type, id, geometry, properties]
      properties:
        type:
          const: Feature
        id:
          type: string
        geometry:
          oneOf:
            - type: object
              properties:
                type:
                  const: Point
                coordinates:
                  type: array
                  minItems: 2
                  maxItems: 2
                  items:
                    type: number
            - type: object
              properties:
                type:
                  const: Polygon
                coordinates:
                  type: array
            - type: object
              properties:
                type:
                  const: MultiPolygon
                coordinates:
                  type: array
        properties:
          type: object
          required:
            [featureId, layer, category, hazardType, headline, sourceId, source, sourceName, observedAt, validFrom, updatedAt, confidence, stale, severity, status, urgency, certainty, basis, license]
          properties:
            featureId:
              type: string
            layerId:
              type: string
              enum: [public.safety.warnings, public.safety.weather_alerts, public.safety.fire, public.safety.flood, public.boundary.admin]
            providerId:
              type: string
              const: sim.safety-data
            providerLayerId:
              type: string
              enum: [safety.warnings, safety.weather_alerts, safety.fire, safety.flood, boundary.admin]
            layer:
              enum: [weather_alerts, warnings, fire, flood, boundary_admin]
            category:
              type: string
            hazardType:
              type: string
            typeCode:
              type: string
              description: Canonical SIM provider v2 type code, for example weather.temperature.high, weather.ice.slippery_roads, hydro.flood.warning or air_quality.pm10.smog.
            sourceCode:
              type: string
              description: Authoritative upstream phenomenon code, for CHMI alerts typically the SIVS eventCode such as I.2, VII.1, XI.2 or SMOGSIT.PM10.
            sourceSystem:
              type: string
              description: Upstream code system used for sourceCode, for example CHMI_SIVS.
            headline:
              type: string
            description:
              type: string
            recommendedAction:
              type: string
            sourceId:
              enum: [mock, chmi_alerts, chmi_hydro, nasa_firms, gdacs_alerts, hzs_incidents, admin_boundaries]
            source:
              type: string
            sourceName:
              type: string
            observedAt:
              type: string
              format: date-time
            effectiveAt:
              type: string
              format: date-time
            expiresAt:
              type: string
              format: date-time
            validFrom:
              type: string
              format: date-time
            validUntil:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            confidence:
              type: number
              minimum: 0
              maximum: 1
            stale:
              type: boolean
            severity:
              enum: [info, advisory, warning, critical]
            status:
              type: string
            urgency:
              enum: [immediate, expected, future, past, unknown]
            certainty:
              enum: [observed, likely, possible, unlikely, unknown]
            areaName:
              type: string
            adminLevel:
              oneOf:
                - type: integer
                - type: string
            styleHint:
              type: string
            iconHint:
              type: string
            basis:
              type: array
              items:
                type: string
            license:
              type: object
              additionalProperties: true
            fireStatus:
              type: string
            detectedAt:
              type: string
              format: date-time
            sourceSatellite:
              type: string
            sourceIncident:
              type: string
            intensity:
              type: number
            frp:
              type: number
            riverName:
              type: string
            stationId:
              type: string
            waterLevelCm:
              type: number
            discharge:
              type: number
            waterTemperatureC:
              type: number
            floodStage:
              oneOf:
                - type: number
                - type: string
            trend:
              type: string
            detailUrl:
              type: string
            timelineUrl:
              type: string
            forecastAvailable:
              type: boolean
            forecastUntil:
              type: string
              format: date-time
            basin:
              type: string
            affectedArea:
              type: string
            name:
              type: string
            code:
              type: string
            countryCode:
              type: string
            affectedAreas:
              type: array
              items:
                type: string
            geocodes:
              type: array
              items:
                type: object
                properties:
                  scheme:
                    type: string
                  value:
                    type: string
            metrics:
              type: object
              additionalProperties: true
            tags:
              type: object
              additionalProperties:
                type: string
            localized:
              type: object
              additionalProperties:
                type: object
                additionalProperties: true
              description: Localized provider text blocks keyed by language, for example cs and en. SIM uses this to avoid duplicate map features per CAP language.
            providerProperties:
              type: object
              additionalProperties: true
              description: Provider-native audit metadata. CHMI CAP alerts include schemaVersion=sim.provider.v2, taxonomy, localized, presentation, notification and cap blocks.
    HydroStationDetail:
      type: object
      required: [contractVersion, generatedAt, providerId, sourceId, station, window, thresholds, series, chart, warnings]
      properties:
        contractVersion:
          const: chmi-hydro-station-detail-v1
        generatedAt:
          type: string
          format: date-time
        providerId:
          const: sim.safety-data
        sourceId:
          const: chmi_hydro
        station:
          type: object
          required: [stationId, stationName, lat, lon]
          properties:
            stationId:
              type: string
            stationCode:
              type: string
            stationName:
              type: string
            streamName:
              type: string
            lat:
              type: number
            lon:
              type: number
            spaType:
              type: string
            catchmentAreaKm2:
              type: number
            hydrologicalOrder:
              type: string
        window:
          type: object
          required: [from, to]
          properties:
            from:
              type: string
              format: date-time
            to:
              type: string
              format: date-time
        thresholds:
          type: object
          required: [waterLevel, discharge]
          properties:
            waterLevel:
              $ref: "#/components/schemas/HydroThresholdSet"
            discharge:
              $ref: "#/components/schemas/HydroThresholdSet"
        series:
          type: array
          items:
            $ref: "#/components/schemas/HydroStationSeries"
        chart:
          type: object
          required: [title, currentTime, panels]
          properties:
            title:
              type: string
            currentTime:
              type: string
              format: date-time
            panels:
              type: array
              items:
                type: object
                required: [id, title, yAxis, seriesIds]
                properties:
                  id:
                    enum: [water_level, discharge, temperature]
                  title:
                    type: string
                  yAxis:
                    type: object
                    properties:
                      label:
                        type: string
                      unit:
                        type: string
                  seriesIds:
                    type: array
                    items:
                      $ref: "#/components/schemas/HydroSeriesId"
                  thresholdSet:
                    enum: [waterLevel, discharge]
                  forecastSeriesIds:
                    type: array
                    items:
                      $ref: "#/components/schemas/HydroSeriesId"
        warnings:
          type: array
          items:
            type: string
    HydroStationSeries:
      type: object
      required: [id, label, unit, role, points]
      properties:
        id:
          $ref: "#/components/schemas/HydroSeriesId"
        label:
          type: string
        unit:
          type: string
        role:
          enum: [observation, forecast]
        points:
          type: array
          items:
            type: object
            required: [at, value, source, ingestedAt]
            properties:
              at:
                type: string
                format: date-time
              value:
                type: number
              source:
                enum: [local_history, live_now, recent_backfill]
              ingestedAt:
                type: string
                format: date-time
    HydroThresholdSet:
      type: object
      properties:
        unit:
          type: string
        dry:
          type: number
        spa1:
          type: number
        spa2:
          type: number
        spa3:
          type: number
        spa4:
          type: number
    HydroSeriesId:
      enum: [H, Q, TH, H_F, Q_F]
