openapi: 3.1.0
info:
  title: CSM SIM Situation Data API
  version: 0.1.0
  description: Aggregated open-data situation layers for COM/server-side map context.
servers:
  - url: https://sim.zeleznalady.cz/situation-data/api/v1
  - url: http://localhost:4020/api/v1
paths:
  /layers:
    get:
      summary: List available situation layers
      responses:
        "200":
          description: Layer registry
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/LayerDescriptor"
  /sources:
    get:
      summary: List provider metadata and license state
      responses:
        "200":
          description: Source registry
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/SourceDescriptor"
  /catalog:
    get:
      summary: Return SIM provider metadata for COM Map Catalog v1
      description: Separates user-facing map products from technical upstream sources. Existing /layers and /sources remain compatibility endpoints.
      responses:
        "200":
          description: Provider map catalog metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderMapCatalog"
  /config:
    get:
      summary: Read non-secret runtime configuration
      responses:
        "200":
          description: Public runtime configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicConfig"
  /features:
    get:
      summary: Return aggregated GeoJSON situation features
      parameters:
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Technologies"
        - $ref: "#/components/parameters/Operators"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: GeoJSON FeatureCollection with SIM metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SituationFeatureCollection"
        "400":
          $ref: "#/components/responses/Problem"
  /cop/features:
    get:
      summary: Compatibility alias for the server-side situation feature stream
      deprecated: true
      description: Kept for existing COM/COP backend adapters. New provider integrations should prefer /features or the COM /api/v1/map/query facade.
      parameters:
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Technologies"
        - $ref: "#/components/parameters/Operators"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Situation FeatureCollection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SituationFeatureCollection"
        "400":
          $ref: "#/components/responses/Problem"
  /mobile-coverage/metadata:
    get:
      summary: Return mobile coverage model metadata
      responses:
        "200":
          description: Mobile coverage model metadata and disclaimer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileCoverageMetadata"
  /dem/metadata:
    get:
      summary: Return DEM catalog metadata
      responses:
        "200":
          description: DEM catalog metadata, storage state and import warnings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DemCatalogStatus"
  /weather-radar/frames:
    get:
      summary: Return CHMI weather radar frame catalog metadata
      description: Lists recent CHMI radar frames indexed by SIM for timeline and replay integration. PNG frames include clean SIM crop URLs; raw upstream URLs remain available for diagnostics.
      parameters:
        - name: product
          in: query
          required: false
          schema:
            type: string
            example: merge1h
          description: Optional comma-separated product ids, e.g. maxz,pseudocappi2km,merge1h,thunderstorm_risk.
        - name: hours
          in: query
          required: false
          schema:
            type: integer
            default: 6
            minimum: 1
            maximum: 72
          description: Time window for indexed frames.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 72
            minimum: 1
            maximum: 288
          description: Maximum frames per product.
        - name: materialize
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Optional server-side fetch into local frame store. Normally enabled by server configuration, not by clients.
      responses:
        "200":
          description: Radar frame catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherRadarFrameCatalog"
  /weather-radar/assets/{productId}/{fileName}:
    get:
      summary: Return a locally stored CHMI weather radar frame asset
      description: Serves only frames previously materialized into the SIM local radar frame store.
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
            example: merge1h
        - name: fileName
          in: path
          required: true
          schema:
            type: string
            example: pacz2gmaps3.merge.20260621.1200.60.png
      responses:
        "200":
          description: Stored radar image or archive
          content:
            image/png:
              schema:
                type: string
                format: binary
            application/x-tar:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/Problem"
  /weather-radar/clean/{productId}/{fileName}:
    get:
      summary: Return a clean SIM-processed CHMI weather radar PNG frame
      description: Lazily fetches a raw CHMI PNG frame, crops it to the radar data bounds, stores the processed PNG in the SIM local frame cache and returns it for COP raster overlay rendering.
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
            example: merge1h
        - name: fileName
          in: path
          required: true
          schema:
            type: string
            example: pacz2gmaps3.merge.20260621.1200.60.png
      responses:
        "200":
          description: Clean cropped radar PNG
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            image/png:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /weather-cameras:
    get:
      summary: Return CHMI weather camera locations
      description: Lists CHMI public webcam locations normalized by SIM. Image payloads are intentionally omitted; COP should request detail or snapshot endpoints on click.
      parameters:
        - name: bbox
          in: query
          required: false
          schema:
            type: string
            example: 14.4,50.0,14.5,50.1
          description: Optional WGS84 bbox west,south,east,north.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 250
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: CHMI weather camera catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherCameraCatalog"
        "400":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /weather-cameras/{locationId}:
    get:
      summary: Return CHMI weather camera detail
      description: Returns camera choices for one CHMI webcam location. The response contains snapshot URLs but not the base64 image payload.
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: string
            example: wgs84_14p445358_50p007510
      responses:
        "200":
          description: CHMI weather camera detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherCameraDetail"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /weather-cameras/{locationId}/snapshot:
    get:
      summary: Return a CHMI weather camera snapshot image
      description: Decodes the selected CHMI base64 webcam image server-side and returns it as an image response for COP preview windows.
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: string
            example: wgs84_14p445358_50p007510
        - name: cameraId
          in: query
          required: false
          schema:
            type: string
            example: praha_libus-praha-libus
          description: Optional camera id from the detail response. If omitted, SIM returns the first camera at the location.
      responses:
        "200":
          description: Weather camera image
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            image/gif:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /observability:
    get:
      summary: Return cache, upstream and read-model telemetry for SIM Overview
      responses:
        "200":
          description: Situation data observability payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SituationObservability"
components:
  parameters:
    Bbox:
      name: bbox
      in: query
      required: false
      schema:
        type: string
        example: "13.85,49.65,15.35,50.45"
      description: WGS84 bbox in west,south,east,north order. Defaults to configured Prague pilot bbox.
    Layers:
      name: layers
      in: query
      required: false
      schema:
        type: string
        example: weather,ground,mobile_network,traffic,warnings,flood,air_quality
    Sources:
      name: source
      in: query
      required: false
      schema:
        type: string
        example: open_meteo,chmi_weather_stations,chmi_air_quality,mobile_network_model,osm_postgis,ctu_nettest,ctu_stationary_mobile,pid_gtfs_rt,road_srti_lod,safety_data
    Technologies:
      name: technology
      in: query
      required: false
      schema:
        type: string
        example: 4G,5G
      description: Optional mobile coverage/mobile network technology filter. Alias `technologies` is also accepted.
    Operators:
      name: operator
      in: query
      required: false
      schema:
        type: string
        example: unknown
      description: Optional mobile coverage/mobile network operator filter. The unified mobile_network layer currently publishes aggregate/unknown operator assessment.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 250
        maximum: 1000
  responses:
    Problem:
      description: Problem response
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  correlationId:
                    type: string
  schemas:
    LayerId:
      type: string
      enum:
        [
          weather,
          ground,
          mobile,
          mobile_coverage,
          mobile_network,
          traffic,
          warnings,
          fire,
          flood,
          boundary_admin,
          boundary_country,
          boundary_region,
          boundary_district,
          boundary_orp,
          place_settlements,
          air_quality,
          weather_temperature_grid,
          weather_wind_field,
          weather_precipitation_grid,
          weather_humidity_grid,
          weather_pressure_grid,
          weather_radar_reflectivity,
          weather_radar_precipitation,
          weather_radar_nowcast,
          weather_thunderstorm_risk,
          weather_webcams,
          air_quality_grid
        ]
    SourceId:
      type: string
      enum: [mock, open_meteo, mobile_coverage_model, mobile_network_model, osm_postgis, osm_overpass, ctu_nettest, ctu_stationary_mobile, pid_gtfs_rt, idsjmk_vehicle_positions, road_srti_lod, safety_data, aviation_weather, chmi_air_quality, chmi_weather_stations, chmi_weather_radar, chmi_weather_webcams, ardos_partner]
    MobileCoverageTechnology:
      type: string
      enum: [2G, 4G, 5G]
    MobileCoverageQuality:
      type: string
      enum: [good, fair, weak, none, unknown]
    ProviderCatalogLayerRole:
      type: string
      enum: [primary, reference, overlay, user, partner, diagnostic]
    ProviderCatalogSourceRole:
      type: string
      enum: [final, aggregate, reference, input, projection, mock, diagnostic]
    ProviderCatalogAudience:
      type: string
      enum: [public, authenticated, partner, admin, diagnostic]
    ProviderCatalogKind:
      type: string
      enum: [vector_features, grid_field, vector_field, raster_overlay, mvt_tiles, raster_tiles, track_stream, user_objects, static_reference, aggregate]
    BoundingBox:
      type: object
      required: [west, south, east, north]
      properties:
        west:
          type: number
        south:
          type: number
        east:
          type: number
        north:
          type: number
    License:
      type: object
      required: [name, attribution, commercialUse, operationalUse, notes]
      properties:
        name:
          type: string
        url:
          type: string
        attribution:
          type: string
        commercialUse:
          type: string
          enum: [allowed, allowed_with_obligations, requires_license, unknown]
        operationalUse:
          type: string
          enum: [allowed, allowed_with_obligations, requires_license, unknown]
        notes:
          type: array
          items:
            type: string
    LayerDescriptor:
      type: object
      required: [layerId, label, description, defaultVisible, geometryTypes]
      properties:
        layerId:
          $ref: "#/components/schemas/LayerId"
        label:
          type: string
        description:
          type: string
        defaultVisible:
          type: boolean
        geometryTypes:
          type: array
          items:
            type: string
            enum: [Point, LineString, Polygon, MultiPolygon]
        expectedCadenceSeconds:
          type: integer
    SourceDescriptor:
      type: object
      required: [sourceId, label, enabled, mode, priority, layers, license]
      properties:
        sourceId:
          $ref: "#/components/schemas/SourceId"
        label:
          type: string
        enabled:
          type: boolean
        mode:
          type: string
          enum: [live, mock, reference]
        priority:
          type: integer
        layers:
          type: array
          items:
            $ref: "#/components/schemas/LayerId"
        license:
          $ref: "#/components/schemas/License"
        baseUrl:
          type: string
        updateCadenceSeconds:
          type: integer
    ProviderMapCatalog:
      type: object
      required: [contractVersion, providerId, generatedAt, status, authority, layers, sources]
      properties:
        contractVersion:
          type: string
          const: provider-map-catalog-v1
        catalogVersion:
          type: string
          const: provider-map-catalog-v1
        providerId:
          type: string
          const: sim.situation-data
        generatedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [online]
        authority:
          type: object
          required: [contractVersion, document]
          properties:
            contractVersion:
              type: string
              const: map-catalog-v1
            catalogVersion:
              type: string
              const: map-catalog-v1
            document:
              type: string
              description: URL or path to the authoritative source-neutral COM Map Catalog provider document.
        layers:
          type: array
          items:
            $ref: "#/components/schemas/ProviderCatalogLayer"
        sources:
          type: array
          items:
            $ref: "#/components/schemas/ProviderCatalogSource"
    ProviderCatalogLayer:
      type: object
      required:
        [
          providerLayerId,
          recommendedCatalogLayerId,
          label,
          description,
          categoryPath,
          categories,
          role,
          audience,
          kind,
          defaultVisible,
          selectable,
          geometryTypes,
          minZoom,
          maxZoom,
          refreshSeconds,
          cacheTtlSeconds,
          styleProfile,
          sourceIds,
          query,
          legal
        ]
      properties:
        providerLayerId:
          type: string
        recommendedCatalogLayerId:
          type: string
          example: public.mobile.network
        label:
          type: string
        labelLocalized:
          type: object
          additionalProperties:
            type: string
        description:
          type: string
        descriptionLocalized:
          type: object
          additionalProperties:
            type: string
        categoryPath:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            type: string
        role:
          $ref: "#/components/schemas/ProviderCatalogLayerRole"
        audience:
          $ref: "#/components/schemas/ProviderCatalogAudience"
        kind:
          $ref: "#/components/schemas/ProviderCatalogKind"
        defaultVisible:
          type: boolean
        selectable:
          type: boolean
        geometryTypes:
          type: array
          items:
            type: string
            enum: [Point, LineString, Polygon, MultiPolygon]
        minZoom:
          type: integer
        maxZoom:
          type: integer
        refreshSeconds:
          type: integer
        cacheTtlSeconds:
          type: integer
        styleProfile:
          type: string
        sourceIds:
          type: array
          items:
            $ref: "#/components/schemas/SourceId"
        technicalInputs:
          type: array
          items:
            $ref: "#/components/schemas/SourceId"
        filters:
          type: array
          items:
            type: object
            required: [filterId, type]
            properties:
              filterId:
                type: string
              label:
                type: string
              type:
                type: string
                enum: [single_select, multi_select, boolean, range]
              values:
                type: array
                items:
                  type: string
              defaultValue: {}
        query:
          type: object
          required: [mode, providerId, streamId, providerLayerIds, providerSourceIds, maxFeatures]
          properties:
            mode:
              type: string
              const: bbox
            providerId:
              type: string
              const: sim.situation-data
            streamId:
              type: string
              description: Opaque provider stream id consumed by the COM backend; it is not a public browser URL.
            providerLayerIds:
              type: array
              items:
                $ref: "#/components/schemas/LayerId"
            providerSourceIds:
              type: array
              items:
                $ref: "#/components/schemas/SourceId"
            maxFeatures:
              type: integer
            categoryFilter:
              type: array
              items:
                type: string
        legend:
          type: object
          properties:
            profile:
              type: string
        model:
          type: object
          properties:
            modelVersion:
              type: string
            terrainAware:
              type: boolean
            demSource:
              type: string
            confidenceExplanation:
              type: string
        delivery:
          type: object
          properties:
            mode:
              type: string
              enum: [features, grid, vector_tiles, raster_tiles, raster_overlay]
            geometryRole:
              type: string
              enum: [feature_geometry, grid_cell, raster_extent]
            fallbackPolicy:
              type: string
              enum: [hide_if_unsupported, hide_if_raster_overlay_unsupported]
            doNotRenderGeometryFill:
              type: boolean
              description: When true, polygon geometry is metadata extent only and must not be displayed as a filled vector feature.
            valueField:
              type: string
              example: metrics.value
            stableGrid:
              type: object
              properties:
                alignment:
                  type: string
                  enum: [wgs84]
                resolutionDegrees:
                  type: number
                resolutionM:
                  type: number
            tileTemplate:
              type: string
        readModel:
          type: object
          properties:
            table:
              type: string
            refreshedBy:
              type: string
            cacheTtlSeconds:
              type: integer
        legal:
          type: object
          required: [attribution, notes]
          properties:
            attribution:
              type: string
            notes:
              type: array
              items:
                type: string
        supersedes:
          type: array
          items:
            type: string
        replacedBy:
          type: string
        compatibilityOnly:
          type: boolean
        preferredProviderId:
          type: string
    ProviderCatalogSource:
      type: object
      required:
        [
          sourceId,
          label,
          enabled,
          mode,
          layers,
          sourceRole,
          audience,
          selectableInMap,
          visibleInDiagnostics,
          feedsLayerIds,
          feedsCatalogLayerIds,
          cacheTtlSeconds,
          license
        ]
      properties:
        sourceId:
          $ref: "#/components/schemas/SourceId"
        label:
          type: string
        enabled:
          type: boolean
        mode:
          type: string
          enum: [live, mock, reference]
        layers:
          type: array
          items:
            $ref: "#/components/schemas/LayerId"
        sourceRole:
          $ref: "#/components/schemas/ProviderCatalogSourceRole"
        audience:
          $ref: "#/components/schemas/ProviderCatalogAudience"
        selectableInMap:
          type: boolean
          description: Whether COM may expose the whole source as a normal map selection. Prefer layer metadata for user-facing selection.
        visibleInDiagnostics:
          type: boolean
        feedsLayerIds:
          type: array
          items:
            type: string
        feedsCatalogLayerIds:
          type: array
          items:
            type: string
        usedByLayerIds:
          type: array
          items:
            type: string
        usedByCatalogLayerIds:
          type: array
          items:
            type: string
        technicalInputs:
          type: array
          items:
            $ref: "#/components/schemas/SourceId"
        replacedBy:
          $ref: "#/components/schemas/SourceId"
        preferredProviderId:
          type: string
        updateCadenceSeconds:
          type: integer
        cacheTtlSeconds:
          type: integer
        baseUrl:
          type: string
        backend:
          type: string
        license:
          $ref: "#/components/schemas/License"
        notes:
          type: array
          items:
            type: string
    PublicConfig:
      type: object
      required:
        [
          enabledSources,
          defaultBbox,
          cacheTtlSeconds,
          staleIfErrorSeconds,
          cacheMaxEntries,
          bboxCachePaddingDegrees,
          staleAfterSeconds,
          requestTimeoutMs,
          sourceCacheTtlSeconds,
          weatherRadarFrames,
          providers
        ]
      properties:
        enabledSources:
          type: array
          items:
            $ref: "#/components/schemas/SourceId"
        defaultBbox:
          $ref: "#/components/schemas/BoundingBox"
        cacheTtlSeconds:
          type: integer
        staleIfErrorSeconds:
          type: integer
        cacheMaxEntries:
          type: integer
        bboxCachePaddingDegrees:
          type: number
        staleAfterSeconds:
          type: integer
        requestTimeoutMs:
          type: integer
        sourceCacheTtlSeconds:
          type: object
          required: [openMeteo, mobileNetwork, mobileCoverage, osmPostgis, osmOverpass, ctuStationaryMobile, idsjmkVehiclePositions, roadSrtiLod, safetyData, aviationWeather, chmiAirQuality, chmiWeatherStations, chmiWeatherRadar, chmiWeatherWebcams, ardosPartner]
          properties:
            openMeteo:
              type: integer
            mobileNetwork:
              type: integer
            mobileCoverage:
              type: integer
            osmPostgis:
              type: integer
            osmOverpass:
              type: integer
            ctuStationaryMobile:
              type: integer
            idsjmkVehiclePositions:
              type: integer
            roadSrtiLod:
              type: integer
            safetyData:
              type: integer
            aviationWeather:
              type: integer
            chmiAirQuality:
              type: integer
            chmiWeatherStations:
              type: integer
            chmiWeatherRadar:
              type: integer
            chmiWeatherWebcams:
              type: integer
            ardosPartner:
              type: integer
        weatherRadarFrames:
          type: object
          required: [historyHours, maxCount, storeEnabled, mode, cleanCropInsetPixels]
          properties:
            historyHours:
              type: integer
            maxCount:
              type: integer
            storeEnabled:
              type: boolean
            mode:
              type: string
              enum: [metadata_only, local_filesystem]
            cleanCropInsetPixels:
              type: integer
        providers:
          type: array
          items:
            type: object
            required: [sourceId, authConfigured]
            properties:
              sourceId:
                $ref: "#/components/schemas/SourceId"
              baseUrl:
                type: string
              authConfigured:
                type: boolean
              backend:
                type: string
                description: Optional backend marker, e.g. unconfigured, patroni-postgis, chmi-opendata or ndic-srti-lod, without exposing credentials.
    WeatherCameraLocation:
      type: object
      required: [locationId, label, lon, lat, sourceDataUrl, detailUrl, snapshotUrl, providerPageUrl, camerasKnownAfterDetail]
      properties:
        locationId:
          type: string
          example: wgs84_14p445358_50p007510
        label:
          type: string
          example: ČHMÚ webkamera 50.00751, 14.44536
        lon:
          type: number
          format: double
          example: 14.445358
        lat:
          type: number
          format: double
          example: 50.00751
        sourceDataUrl:
          type: string
          format: uri
        detailUrl:
          type: string
          example: /api/v1/weather-cameras/wgs84_14p445358_50p007510
        snapshotUrl:
          type: string
          example: /api/v1/weather-cameras/wgs84_14p445358_50p007510/snapshot
        providerPageUrl:
          type: string
          format: uri
          example: https://www.chmi.cz/namerena-data/webkamery
        camerasKnownAfterDetail:
          type: boolean
          example: true
      additionalProperties: false
    WeatherCamera:
      type: object
      required: [cameraId, name, snapshotUrl]
      properties:
        cameraId:
          type: string
          example: praha_libus-praha-libus
        name:
          type: string
          example: Praha-Libuš (VSV)
        providerUrl:
          type: string
          format: uri
        snapshotUrl:
          type: string
          example: /api/v1/weather-cameras/wgs84_14p445358_50p007510/snapshot?cameraId=praha_libus-praha-libus
        contentType:
          type: string
          example: image/gif
      additionalProperties: false
    WeatherCameraCatalog:
      type: object
      required: [contractVersion, providerId, sourceId, generatedAt, updateCadenceSeconds, snapshotPolicy, locations, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-weather-cameras-v1
        providerId:
          type: string
          const: sim.situation-data
        sourceId:
          type: string
          const: chmi_weather_webcams
        generatedAt:
          type: string
          format: date-time
        updateCadenceSeconds:
          type: integer
          example: 300
        snapshotPolicy:
          type: object
          required: [mode, imagePayloadInFeatureStream, detailEndpoint, snapshotEndpoint]
          properties:
            mode:
              type: string
              const: on_demand_detail_snapshot
            imagePayloadInFeatureStream:
              type: boolean
              const: false
            detailEndpoint:
              type: string
              example: /api/v1/weather-cameras/{locationId}
            snapshotEndpoint:
              type: string
              example: /api/v1/weather-cameras/{locationId}/snapshot
          additionalProperties: false
        locations:
          type: array
          items:
            $ref: "#/components/schemas/WeatherCameraLocation"
        warnings:
          type: array
          items:
            type: string
      additionalProperties: false
    WeatherCameraDetail:
      type: object
      required: [contractVersion, providerId, sourceId, generatedAt, location, cameras, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-weather-cameras-v1
        providerId:
          type: string
          const: sim.situation-data
        sourceId:
          type: string
          const: chmi_weather_webcams
        generatedAt:
          type: string
          format: date-time
        location:
          $ref: "#/components/schemas/WeatherCameraLocation"
        cameras:
          type: array
          items:
            $ref: "#/components/schemas/WeatherCamera"
        warnings:
          type: array
          items:
            type: string
      additionalProperties: false
    WeatherRadarFrameCatalog:
      type: object
      required: [contractVersion, providerId, sourceId, generatedAt, historyHours, frameStore, rasterSemantics, products, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-weather-radar-frames-v1
        providerId:
          type: string
          const: sim.situation-data
        sourceId:
          type: string
          const: chmi_weather_radar
        generatedAt:
          type: string
          format: date-time
        historyHours:
          type: integer
        frameStore:
          type: object
          required: [enabled, mode, assetBasePath, cleanAssetBasePath]
          properties:
            enabled:
              type: boolean
            mode:
              type: string
              enum: [metadata_only, local_filesystem]
            assetBasePath:
              type: string
            cleanAssetBasePath:
              type: string
        rasterSemantics:
          type: object
          required: [projection, boundsWgs84, dataBoundsWgs84, sourceImageMayContainFrame, sourceImageMayContainEmbeddedLabels, cleanRasterAvailable, cleanMethod, cleanCropInsetPixels]
          properties:
            projection:
              type: string
              const: EPSG:3857
            boundsWgs84:
              type: array
              minItems: 4
              maxItems: 4
              items:
                type: number
            dataBoundsWgs84:
              type: array
              minItems: 4
              maxItems: 4
              items:
                type: number
            sourceImageMayContainFrame:
              type: boolean
            sourceImageMayContainEmbeddedLabels:
              type: boolean
            cleanRasterAvailable:
              type: boolean
            cleanMethod:
              type: string
              enum: [server_crop_to_data_bounds]
            cleanCropInsetPixels:
              type: integer
        products:
          type: array
          items:
            type: object
            required: [productId, layer, providerLayerId, catalogLayerId, label, description, contentType, updateCadenceSeconds, validForSeconds, styleHint, forecastArchive, frames]
            properties:
              productId:
                type: string
              layer:
                $ref: "#/components/schemas/LayerId"
              providerLayerId:
                type: string
              catalogLayerId:
                type: string
              label:
                type: string
              description:
                type: string
              contentType:
                type: string
              updateCadenceSeconds:
                type: integer
              validForSeconds:
                type: integer
              styleHint:
                type: string
              forecastArchive:
                type: boolean
              forecastHorizonMinutes:
                type: integer
              colorScaleUrl:
                type: string
              frames:
                type: array
                items:
                  type: object
                  required: [frameId, productId, observedAt, sourceUrl, sourceRevision, contentType, sourceImageMayContainFrame, sourceImageMayContainEmbeddedLabels, cleanRasterAvailable, boundsWgs84, dataBoundsWgs84, stored]
                  properties:
                    frameId:
                      type: string
                    productId:
                      type: string
                    observedAt:
                      type: string
                      format: date-time
                    validUntil:
                      type: string
                      format: date-time
                    sourceUrl:
                      type: string
                    sourceRevision:
                      type: string
                    contentType:
                      type: string
                    sourceImageMayContainFrame:
                      type: boolean
                    sourceImageMayContainEmbeddedLabels:
                      type: boolean
                    cleanRasterAvailable:
                      type: boolean
                    cleanUrl:
                      type: string
                    cleanStored:
                      type: boolean
                    cleanBoundsWgs84:
                      type: array
                      minItems: 4
                      maxItems: 4
                      items:
                        type: number
                    cleanMethod:
                      type: string
                      enum: [server_crop_to_data_bounds]
                    boundsWgs84:
                      type: array
                      minItems: 4
                      maxItems: 4
                      items:
                        type: number
                    dataBoundsWgs84:
                      type: array
                      minItems: 4
                      maxItems: 4
                      items:
                        type: number
                    stored:
                      type: boolean
                    localUrl:
                      type: string
        warnings:
          type: array
          items:
            type: string
    SourceHealthStatus:
      type: object
      required: [sourceId, status, warnings]
      properties:
        sourceId:
          $ref: "#/components/schemas/SourceId"
        status:
          type: string
          enum: [ok, degraded]
        backend:
          type: string
          enum: [unconfigured, local-postgis, patroni-postgis, external-postgis]
        objectCount:
          type: integer
          description: Present for PostGIS-backed providers when public.osm_poi is readable.
        lastImportAt:
          type: string
          format: date-time
        lastImportAgeSeconds:
          type: integer
        boundaryFeatureCount:
          type: integer
        boundaryLevels:
          type: array
          items:
            type: string
        boundaryLastImportAt:
          type: string
          format: date-time
        boundaryLastImportAgeSeconds:
          type: integer
        warnings:
          type: array
          items:
            type: string
    SituationObservability:
      type: object
      properties:
        serviceId:
          type: string
          const: situation-data-api
        generatedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [ok, degraded]
        cache:
          type: object
          additionalProperties: true
        sharedCache:
          type: object
          additionalProperties: true
        sourceCaches:
          type: array
          items:
            type: object
            additionalProperties: true
        dataFreshness:
          type: object
          additionalProperties: true
        environmentGrid:
          type: object
          description: Cataloged grid/field layer health, stable WGS84 grid alignment and upstream status.
          additionalProperties: true
        boundaryReadModel:
          type: object
          description: PostGIS administrative boundary read-model health, import age and feature count.
          additionalProperties: true
        sourceHealth:
          type: array
          items:
            type: object
            properties:
              sourceId:
                $ref: "#/components/schemas/SourceId"
              status:
                type: string
              backend:
                type: string
              objectCount:
                type: integer
              lastImportAt:
                type: string
                format: date-time
              lastImportAgeSeconds:
                type: integer
              boundaryFeatureCount:
                type: integer
              boundaryLevels:
                type: array
                items:
                  type: string
              boundaryLastImportAt:
                type: string
                format: date-time
              boundaryLastImportAgeSeconds:
                type: integer
              warningCount:
                type: integer
    SituationFeatureCollection:
      type: object
      required: [contractVersion, type, generatedAt, source, query, summary, features, sources, warnings]
      properties:
        contractVersion:
          type: string
          const: cop-situation-source-v1
        type:
          type: string
          const: FeatureCollection
        generatedAt:
          type: string
          format: date-time
        source:
          type: object
          properties:
            sourceId:
              type: string
              const: situation-data-api
            sourceType:
              type: string
              const: PUBLIC_SITUATION_AGGREGATE
            generatedAt:
              type: string
              format: date-time
        query:
          type: object
          properties:
            bbox:
              $ref: "#/components/schemas/BoundingBox"
            layers:
              type: array
              items:
                $ref: "#/components/schemas/LayerId"
            limit:
              type: integer
            sources:
              type: array
              items:
                $ref: "#/components/schemas/SourceId"
        summary:
          type: object
          properties:
            featureCount:
              type: integer
            sourceCount:
              type: integer
            staleFeatureCount:
              type: integer
            warningCount:
              type: integer
        features:
          type: array
          items:
            $ref: "#/components/schemas/SituationFeature"
        sources:
          type: array
          items:
            $ref: "#/components/schemas/SourceDescriptor"
        warnings:
          type: array
          items:
            type: string
    SituationFeature:
      type: object
      required: [type, id, geometry, properties]
      properties:
        type:
          type: string
          const: Feature
        id:
          type: string
        geometry:
          type: object
          required: [type, coordinates]
          properties:
            type:
              type: string
              enum: [Point, LineString, Polygon, MultiPolygon]
            coordinates: {}
        properties:
          type: object
          required: [featureId, layer, category, label, sourceId, observedAt, confidence, stale, severity, license]
          properties:
            featureId:
              type: string
            layerId:
              type: string
              description: Recommended COM catalog layer id, e.g. public.mobile.network.
            providerId:
              type: string
              const: sim.situation-data
            providerLayerId:
              type: string
            layer:
              $ref: "#/components/schemas/LayerId"
            category:
              type: string
            label:
              type: string
            labelLocalized:
              type: object
              additionalProperties:
                type: string
            summaryLocalized:
              type: object
              additionalProperties:
                type: string
            sourceId:
              $ref: "#/components/schemas/SourceId"
            source:
              type: string
            sourceName:
              type: string
            observedAt:
              type: string
              format: date-time
            validFrom:
              type: string
              format: date-time
            validUntil:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            confidence:
              type: number
              minimum: 0
              maximum: 1
            stale:
              type: boolean
            severity:
              type: string
              enum: [info, advisory, warning, critical]
            license:
              type: object
              required: [name, attribution]
              properties:
                name:
                  type: string
                attribution:
                  type: string
                url:
                  type: string
            metrics:
              type: object
              additionalProperties: true
            tags:
              type: object
              additionalProperties:
                type: string
            rendering:
              type: object
              description: Provider-side rendering contract for geometries that are grid cells or raster extents rather than ordinary vector polygons.
              properties:
                mode:
                  type: string
                  enum: [feature, grid_field, vector_field, raster_overlay]
                geometryRole:
                  type: string
                  enum: [feature_geometry, grid_cell, raster_extent, wind_vector]
                valueMetric:
                  type: string
                unit:
                  type: string
                opacity:
                  type: number
                doNotRenderGeometryFill:
                  type: boolean
                fallbackPolicy:
                  type: string
                  enum: [hide_if_unsupported, hide_if_raster_overlay_unsupported]
            transportMode:
              type: string
              description: Normalized public-transport or road mode, e.g. bus, tram, train, metro, trolleybus, road.
            routeShortName:
              type: string
              description: Normalized route or line short name for transit vehicles.
            destination:
              type: string
              description: Normalized destination/headsign when provided by the source.
            delaySeconds:
              type: number
              description: Normalized delay in seconds when provided by the source.
            vehicleId:
              type: string
              description: Stable provider vehicle identifier for transit vehicles.
            tripId:
              type: string
              description: Provider trip identifier for transit vehicles.
            occupancyStatus:
              type: string
              description: Normalized GTFS-style occupancy status when provided by the source.
            occupancyPercent:
              type: number
              minimum: 0
              maximum: 100
              description: Vehicle occupancy estimate in percent when provided by the source.
            headingDeg:
              type: number
              minimum: 0
              maximum: 360
              description: Vehicle heading in degrees.
            speedMps:
              type: number
              description: Vehicle speed in metres per second.
            operator:
              type: string
            technology:
              oneOf:
                - $ref: "#/components/schemas/MobileCoverageTechnology"
                - type: string
                  enum: [mixed, unknown]
            quality:
              $ref: "#/components/schemas/MobileCoverageQuality"
            status:
              type: string
              enum: [ok, weak_signal, degraded_possible, outage_reported, unknown]
            basis:
              type: array
              items:
                type: string
            summary:
              type: string
            notices:
              type: array
              items:
                type: string
            dataQuality:
              type: string
              enum: [observed, modelled, mixed, unknown]
              description: Indicates whether the mobile assessment is based on measurements, modelled coverage, both, or insufficient inputs.
            adminLevel:
              type: integer
            name:
              type: string
            code:
              type: string
            countryCode:
              type: string
            areaName:
              type: string
            styleHint:
              type: string
            iconHint:
              type: string
            btsStatus:
              type: string
              enum: [operator_feed_unavailable, unverified, reported_outage, unknown]
              description: Status of the concrete BTS/operator feed. `operator_feed_unavailable` means SIM has no authorized BTS/NOC status.
            btsStatusSource:
              type: string
            operatorStatusAvailable:
              type: boolean
            estimatedSignalDbm:
              type: integer
            modelVersion:
              type: string
            generatedAt:
              type: string
              format: date-time
            resolutionM:
              type: integer
            demSource:
              type: string
            assumptions:
              type: object
              additionalProperties: true
            disclaimer:
              type: string
            providerProperties:
              type: object
              additionalProperties: true
    MobileCoverageMetadata:
      type: object
      required: [layerId, modelVersion, generatedAt, resolutionM, technologies, operators, qualityLevels, demSource, cacheTtlSeconds, disclaimer, assumptions]
      properties:
        layerId:
          type: string
          const: mobile_coverage
        modelVersion:
          type: string
          example: coverage-v1
        generatedAt:
          type: string
          format: date-time
        resolutionM:
          type: integer
          example: 1000
        technologies:
          type: array
          items:
            $ref: "#/components/schemas/MobileCoverageTechnology"
        operators:
          type: array
          items:
            type: string
        qualityLevels:
          type: array
          items:
            $ref: "#/components/schemas/MobileCoverageQuality"
        demSource:
          type: string
        cacheTtlSeconds:
          type: integer
        disclaimer:
          type: string
        assumptions:
          type: object
          additionalProperties: true
    DemCatalogStatus:
      type: object
      required: [enabled, status, datasetId, warnings]
      properties:
        enabled:
          type: boolean
        status:
          type: string
          enum: [ok, degraded, disabled]
        datasetId:
          type: string
          example: copernicus-glo30-cz
        source:
          type: string
          example: copernicus-dem-glo30
        version:
          type: string
          example: "2021"
        resolutionM:
          type: integer
          example: 30
        tileCount:
          type: integer
        localTileCount:
          type: integer
        objectStoreTileCount:
          type: integer
        importedAt:
          type: string
          format: date-time
        bbox:
          $ref: "#/components/schemas/BoundingBox"
        localCacheDir:
          type: string
        objectStore:
          type: object
          properties:
            endpoint:
              type: string
            bucket:
              type: string
            prefix:
              type: string
        warnings:
          type: array
          items:
            type: string
