openapi: 3.1.0
info:
  title: CSM SIM Situation Data API
  version: 0.1.0
  description: Aggregated open-data situation layers for COM/server-side map context.
servers:
  - url: https://sim.zeleznalady.cz/situation-data/api/v1
  - url: http://localhost:4020/api/v1
paths:
  /layers:
    get:
      summary: List available situation layers
      responses:
        "200":
          description: Layer registry
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/LayerDescriptor"
  /sources:
    get:
      summary: List provider metadata and license state
      responses:
        "200":
          description: Source registry
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/SourceDescriptor"
  /catalog:
    get:
      summary: Return SIM provider metadata for COM Map Catalog v1
      description: Separates user-facing map products from technical upstream sources. Existing /layers and /sources remain compatibility endpoints.
      responses:
        "200":
          description: Provider map catalog metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderMapCatalog"
  /taxonomy:
    get:
      summary: Return stable provider taxonomy and rendering dictionaries
      description: Lightweight server-side dictionary for COP layer, severity and geometry-role handling. It is authoritative for SIM presentation keys but does not replace /catalog.
      responses:
        "200":
          description: Provider taxonomy document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderTaxonomy"
  /config:
    get:
      summary: Read non-secret runtime configuration
      responses:
        "200":
          description: Public runtime configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicConfig"
  /features:
    get:
      summary: Return aggregated GeoJSON situation features
      parameters:
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Technologies"
        - $ref: "#/components/parameters/Operators"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: GeoJSON FeatureCollection with SIM metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SituationFeatureCollection"
        "400":
          $ref: "#/components/responses/Problem"
  /features/summary:
    get:
      summary: Return lightweight situation feature summaries without geometry
      description: Uses the same query parameters as /features, but omits GeoJSON coordinates. COP should use this for dashboards, lists and readiness previews.
      parameters:
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Technologies"
        - $ref: "#/components/parameters/Operators"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Situation feature summary collection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderFeatureSummaryCollection"
        "400":
          $ref: "#/components/responses/Problem"
  /features/density:
    get:
      summary: Return density grid cells for low-zoom situation rendering
      description: Uses the same query parameters as /features, but groups returned features into stable WGS84 grid cells and omits original geometries. COP should use this for dense low-zoom layers before requesting detail or original geometry on drill-down.
      parameters:
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Technologies"
        - $ref: "#/components/parameters/Operators"
        - $ref: "#/components/parameters/Limit"
        - name: cellSizeDegrees
          in: query
          required: false
          schema:
            type: number
            minimum: 0.001
            maximum: 2
            example: 0.1
          description: Stable WGS84 grid cell size in degrees. Aliases `gridDegrees` and `grid` are also accepted. When omitted, SIM derives a safe size from the query bbox span.
        - name: maxCells
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5000
            default: 512
          description: Maximum density cells returned after sorting by count and severity.
        - name: sampleSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 20
            default: 5
          description: Maximum sample feature ids included in each grid cell for COP drill-down.
      responses:
        "200":
          description: Situation feature density grid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderFeatureDensityCollection"
        "400":
          $ref: "#/components/responses/Problem"
  /features/{featureId}/geometry:
    get:
      summary: Return geometry for one situation feature
      description: Uses the same query window as /features and returns only the selected feature geometry plus geometry metadata.
      parameters:
        - $ref: "#/components/parameters/FeatureId"
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Technologies"
        - $ref: "#/components/parameters/Operators"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Situation feature geometry document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderFeatureGeometry"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
  /features/{featureId}:
    get:
      summary: Return detail for one situation feature without heavy geometry
      description: Uses the same query window as /features and returns provider properties, localized text and links to geometry. Raw upstream payloads are not exposed.
      parameters:
        - $ref: "#/components/parameters/FeatureId"
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Technologies"
        - $ref: "#/components/parameters/Operators"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Situation feature detail document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderFeatureDetail"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
  /transit/vehicles/{featureId}:
    get:
      summary: Return normalized public-transit vehicle detail
      description: Returns a server-side normalized vehicle detail for COP drill-down. For PID, SIM joins the latest GTFS-RT vehicle position with cached static GTFS routes, trips, stops, stop times and shapes. COP must not call PID/Golemio or other city upstream APIs directly.
      parameters:
        - $ref: "#/components/parameters/FeatureId"
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum: [pid_gtfs_rt]
            default: pid_gtfs_rt
          description: Transit source adapter. The first implemented detail adapter is PID GTFS-RT.
        - name: includeShape
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Whether route shape coordinates should be returned when available.
        - name: maxStopTimes
          in: query
          required: false
          schema:
            type: integer
            minimum: 5
            maximum: 120
            default: 60
          description: Maximum scheduled stop rows returned in the detail.
        - name: maxShapePoints
          in: query
          required: false
          schema:
            type: integer
            minimum: 10
            maximum: 2000
            default: 500
          description: Maximum route shape coordinates returned in the detail.
      responses:
        "200":
          description: Normalized transit vehicle detail document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransitVehicleDetail"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /transit/stops/{systemId}/{stopId}:
    get:
      summary: Return cached static public-transit stop detail
      description: Returns normalized static stop metadata, route list and scheduled departures from SIM's long-lived public_transit_static read-model. COP must use this instead of parsing GTFS or calling city upstream APIs directly.
      parameters:
        - name: systemId
          in: path
          required: true
          schema:
            type: string
          description: Static transport system identifier, for example pid, idsjmk, dpmlj or dpo_ostrava.
        - name: stopId
          in: path
          required: true
          schema:
            type: string
          description: Provider-native stop_id from SIM providerProperties.transit.stopId.
        - name: source
          in: query
          required: false
          schema:
            type: string
            const: public_transit_static
          description: Optional compatibility hint; the endpoint is always backed by public_transit_static.
        - name: date
          in: query
          required: false
          schema:
            type: string
            example: "2026-05-28"
          description: Service date in YYYY-MM-DD or YYYYMMDD. Defaults to current Europe/Prague date.
        - name: time
          in: query
          required: false
          schema:
            type: string
            example: "07:55:00"
          description: Local GTFS time in HH:MM[:SS]. Defaults to current Europe/Prague time.
        - name: maxDepartures
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 120
            default: 30
        - name: maxRoutes
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 120
            default: 30
      responses:
        "200":
          description: Static public-transit stop detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransitStaticStopDetail"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /transit/stops/{systemId}/{stopId}/departures:
    get:
      summary: Return cached scheduled departures for a static public-transit stop
      parameters:
        - name: systemId
          in: path
          required: true
          schema:
            type: string
        - name: stopId
          in: path
          required: true
          schema:
            type: string
        - name: date
          in: query
          required: false
          schema:
            type: string
        - name: time
          in: query
          required: false
          schema:
            type: string
        - name: maxDepartures
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 120
            default: 30
      responses:
        "200":
          description: Scheduled departures for one static stop
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransitStaticStopDepartures"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /transit/routes/{systemId}/{routeId}:
    get:
      summary: Return cached static public-transit route detail
      parameters:
        - name: systemId
          in: path
          required: true
          schema:
            type: string
        - name: routeId
          in: path
          required: true
          schema:
            type: string
        - name: includeShape
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: maxTrips
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 300
            default: 60
        - name: maxStopTimes
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 120
        - name: maxShapePoints
          in: query
          required: false
          schema:
            type: integer
            minimum: 10
            maximum: 3000
            default: 700
      responses:
        "200":
          description: Static route detail with representative stops, trips and optional shape
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransitStaticRouteDetail"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /transit/trips/{systemId}/{tripId}:
    get:
      summary: Return cached static public-transit trip detail
      parameters:
        - name: systemId
          in: path
          required: true
          schema:
            type: string
        - name: tripId
          in: path
          required: true
          schema:
            type: string
        - name: includeShape
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: maxStopTimes
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 120
        - name: maxShapePoints
          in: query
          required: false
          schema:
            type: integer
            minimum: 10
            maximum: 3000
            default: 700
      responses:
        "200":
          description: Static trip detail with stop list and optional route shape
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransitStaticTripDetail"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /weather-forecast/areas/{areaId}:
    get:
      summary: Return SIM-normalized weather forecast area detail with meteogram charts
      parameters:
        - name: areaId
          in: path
          required: true
          description: SIM forecast area token from properties.providerProperties.weatherForecast.detailUrl.
          schema:
            type: string
        - $ref: "#/components/parameters/Bbox"
        - name: hours
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 72
            default: 48
          description: Hourly forecast horizon to include in charts.
        - name: days
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 7
            default: 7
          description: Daily forecast horizon to include.
      responses:
        "200":
          description: Forecast area detail with current values, hourly/daily points and chart-ready series
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherForecastAreaDetail"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /cop/features:
    get:
      summary: Compatibility alias for the server-side situation feature stream
      deprecated: true
      description: Kept for existing COM/COP backend adapters. New provider integrations should prefer /features or the COM /api/v1/map/query facade.
      parameters:
        - $ref: "#/components/parameters/Bbox"
        - $ref: "#/components/parameters/Layers"
        - $ref: "#/components/parameters/Sources"
        - $ref: "#/components/parameters/Technologies"
        - $ref: "#/components/parameters/Operators"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Situation FeatureCollection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SituationFeatureCollection"
        "400":
          $ref: "#/components/responses/Problem"
  /mobile-coverage/metadata:
    get:
      summary: Return mobile coverage model metadata
      responses:
        "200":
          description: Mobile coverage model metadata and disclaimer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileCoverageMetadata"
  /mobile-coverage/towers/{towerId}/viewshed:
    get:
      summary: Return a modelled per-tower mobile coverage viewshed
      description: Builds an on-demand radial GeoJSON overlay for one OSM communications_tower reference. The output is an estimated terrain-aware radio reach, not confirmed operator BTS/NOC state or an RF-planning product.
      parameters:
        - $ref: "#/components/parameters/TowerId"
        - name: technology
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/MobileCoverageTechnology"
          description: Technology for the modelled reach. Defaults to 4G.
        - name: radiusM
          in: query
          required: false
          schema:
            type: number
            minimum: 500
            maximum: 30000
          description: Requested radius in metres. SIM clamps unsafe values.
        - name: azimuthStepDeg
          in: query
          required: false
          schema:
            type: number
            minimum: 2
            maximum: 90
            default: 10
          description: Angular sector width in degrees.
        - name: distanceStepM
          in: query
          required: false
          schema:
            type: number
            minimum: 100
            maximum: 2500
            default: 500
          description: Radial band width in metres.
        - name: includeNoSignal
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include sectors with quality=none. Defaults to false so COP renders only estimated reach; use true only for diagnostic radial-grid display.
        - name: includeRaw
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include debug-only model internals. COP should not request this for normal operator display.
      responses:
        "200":
          description: Modelled per-tower viewshed GeoJSON FeatureCollection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileCoverageTowerViewshedCollection"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /radio/profiles:
    get:
      summary: Return built-in and custom radio planning profiles
      description: Lists non-sensitive civil, amateur, business, public-safety and generic military radio profiles for DEM line-of-sight planning.
      responses:
        "200":
          description: Radio profile catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RadioProfileCatalog"
    post:
      summary: Save or update a custom radio planning profile
      description: Stores an operator-defined non-secret radio profile in SIM data storage for reuse by COP. Do not submit classified frequencies, COMSEC material, callsigns or tactical notes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RadioProfileInput"
      responses:
        "201":
          description: Saved radio profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RadioProfile"
        "400":
          $ref: "#/components/responses/Problem"
        "409":
          $ref: "#/components/responses/Problem"
  /radio/link-check:
    post:
      summary: Check modelled line-of-sight and link budget between two points
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RadioLinkCheckRequest"
      responses:
        "200":
          description: Radio link check result with optional terrain profile samples
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RadioLinkCheckResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /radio/coverage:
    post:
      summary: Build a modelled radio coverage overlay from one station point
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RadioCoverageRequest"
      responses:
        "200":
          description: Radio coverage GeoJSON FeatureCollection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RadioFeatureCollection"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /radio/site-search:
    post:
      summary: Find candidate radio station sites inside an area
      description: Scores candidate points in a bbox against target points. The output is a planning aid, not a tactical recommendation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RadioSiteSearchRequest"
      responses:
        "200":
          description: Ranked radio site candidate GeoJSON FeatureCollection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RadioFeatureCollection"
        "400":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /dem/metadata:
    get:
      summary: Return DEM catalog metadata
      responses:
        "200":
          description: DEM catalog metadata, storage state and import warnings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DemCatalogStatus"
  /routing/profiles:
    get:
      summary: Return emergency routing profiles and backend status
      responses:
        "200":
          description: Routing profile catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingProfileCatalog"
  /routing/route:
    post:
      summary: Build a route between two WGS84 points
      description: Computes a server-side emergency route for COP using the local OSM/PostGIS graph when available. If the graph is unavailable, SIM returns a clearly marked direct_fallback geometry.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoutingRouteRequest"
      responses:
        "200":
          description: Route response with GeoJSON features for COP rendering
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingRouteResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /routing/alternatives:
    post:
      summary: Build one to three alternative routes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoutingRouteRequest"
      responses:
        "200":
          description: Alternative route response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingRouteResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /routing/isochrone:
    post:
      summary: Build a travel-time reach polygon from one origin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoutingIsochroneRequest"
      responses:
        "200":
          description: Isochrone GeoJSON response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingIsochroneResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /routing/nearest-access:
    post:
      summary: Find nearest routable access point for a WGS84 point
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoutingNearestAccessRequest"
      responses:
        "200":
          description: Nearest access point response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingNearestAccessResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /weather-radar/frames:
    get:
      summary: Return CHMI weather radar frame catalog metadata
      description: Lists recent CHMI radar frames indexed by SIM for timeline and replay integration. PNG frames include clean SIM crop URLs; raw upstream URLs remain available for diagnostics.
      parameters:
        - name: product
          in: query
          required: false
          schema:
            type: string
            example: merge1h
          description: Optional comma-separated product ids, e.g. maxz,pseudocappi2km,merge1h,thunderstorm_risk.
        - name: hours
          in: query
          required: false
          schema:
            type: integer
            default: 6
            minimum: 1
            maximum: 72
          description: Time window for indexed frames.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 72
            minimum: 1
            maximum: 288
          description: Maximum frames per product.
        - name: materialize
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Optional server-side fetch into local frame store. Normally enabled by server configuration, not by clients.
      responses:
        "200":
          description: Radar frame catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherRadarFrameCatalog"
  /weather-radar/assets/{productId}/{fileName}:
    get:
      summary: Return a locally stored CHMI weather radar frame asset
      description: Serves only frames previously materialized into the SIM local radar frame store.
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
            example: merge1h
        - name: fileName
          in: path
          required: true
          schema:
            type: string
            example: pacz2gmaps3.merge.20260621.1200.60.png
      responses:
        "200":
          description: Stored radar image or archive
          content:
            image/png:
              schema:
                type: string
                format: binary
            application/x-tar:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/Problem"
  /weather-radar/clean/{productId}/{fileName}:
    get:
      summary: Return a clean SIM-processed CHMI weather radar PNG frame
      description: Lazily fetches a raw CHMI PNG frame, crops it to the radar data bounds, stores the processed PNG in the SIM local frame cache and returns it for COP raster overlay rendering.
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: string
            example: merge1h
        - name: fileName
          in: path
          required: true
          schema:
            type: string
            example: pacz2gmaps3.merge.20260621.1200.60.png
      responses:
        "200":
          description: Clean cropped radar PNG
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            image/png:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /weather-cameras:
    get:
      summary: Return public weather/context camera locations
      description: Lists public origin webcam locations normalized by SIM. Image payloads are intentionally omitted; COP should request detail or snapshot endpoints on click.
      parameters:
        - name: bbox
          in: query
          required: false
          schema:
            type: string
            example: 14.4,50.0,14.5,50.1
          description: Optional WGS84 bbox west,south,east,north.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 250
            minimum: 1
            maximum: 1000
      responses:
        "200":
          description: Public weather/context camera catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherCameraCatalog"
        "400":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /weather-cameras/{locationId}:
    get:
      summary: Return public weather/context camera detail
      description: Returns camera choices for one public webcam location. The response contains snapshot URLs but not embedded image payloads.
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: string
            example: wgs84_14p445358_50p007510
      responses:
        "200":
          description: Public weather/context camera detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherCameraDetail"
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /weather-cameras/{locationId}/snapshot:
    get:
      summary: Return a public weather/context camera snapshot image
      description: Fetches or decodes the selected public webcam image server-side and returns it as an image response for COP preview windows.
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: string
            example: wgs84_14p445358_50p007510
        - name: cameraId
          in: query
          required: false
          schema:
            type: string
            example: praha_libus-praha-libus
          description: Optional camera id from the detail response. If omitted, SIM returns the first camera at the location.
      responses:
        "200":
          description: Weather camera image
          headers:
            Cache-Control:
              schema:
                type: string
          content:
            image/gif:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/Problem"
        "502":
          $ref: "#/components/responses/Problem"
  /observability:
    get:
      summary: Return cache, upstream and read-model telemetry for SIM Overview
      responses:
        "200":
          description: Situation data observability payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SituationObservability"
components:
  parameters:
    Bbox:
      name: bbox
      in: query
      required: false
      schema:
        type: string
        example: "13.85,49.65,15.35,50.45"
      description: WGS84 bbox in west,south,east,north order. Defaults to configured Prague pilot bbox.
    Layers:
      name: layers
      in: query
      required: false
      schema:
        type: string
        example: weather,ground,mobile_network,traffic,warnings,flood,air_quality
    Sources:
      name: source
      in: query
      required: false
      schema:
        type: string
        example: open_meteo,chmi_weather_stations,chmi_air_quality,mobile_network_model,osm_postgis,ctu_nettest,ctu_stationary_mobile,pid_gtfs_rt,spravazeleznic_trains,road_srti_lod,safety_data
    Technologies:
      name: technology
      in: query
      required: false
      schema:
        type: string
        example: 4G,5G
      description: Optional mobile coverage/mobile network technology filter. Alias `technologies` is also accepted.
    Operators:
      name: operator
      in: query
      required: false
      schema:
        type: string
        example: unknown
      description: Optional mobile coverage/mobile network operator filter. The unified mobile_network layer currently publishes aggregate/unknown operator assessment.
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 250
        maximum: 1000
    FeatureId:
      name: featureId
      in: path
      required: true
      schema:
        type: string
      description: SIM feature id from /features or /features/summary.
    TowerId:
      name: towerId
      in: path
      required: true
      schema:
        type: string
        pattern: "^(node|way|relation):-?\\d+$"
        example: node:13743393126
      description: OSM communications_tower identifier as exposed in mobile coverage tags, e.g. node:13743393126.
  responses:
    Problem:
      description: Problem response
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  correlationId:
                    type: string
  schemas:
    LayerId:
      type: string
      enum:
        [
          weather,
          ground,
          mobile,
          mobile_coverage,
          mobile_network,
          traffic,
          warnings,
          weather_alerts,
          fire,
          flood,
          boundary_admin,
          boundary_country,
          boundary_region,
          boundary_district,
          boundary_orp,
          place_settlements,
          trail_routes,
          trail_poi,
          community_places,
          community_reports,
          air_quality,
          weather_temperature_grid,
          weather_wind_field,
          weather_precipitation_grid,
          weather_humidity_grid,
          weather_pressure_grid,
          weather_forecast_area,
          weather_radar_reflectivity,
          weather_radar_precipitation,
          weather_radar_nowcast,
          weather_thunderstorm_risk,
          weather_webcams,
          air_quality_grid
        ]
    SourceId:
      type: string
      enum: [mock, open_meteo, weather_forecast, mobile_coverage_model, mobile_network_model, osm_postgis, osm_overpass, ctu_nettest, ctu_stationary_mobile, pid_gtfs_rt, public_transit_static, idsjmk_vehicle_positions, spravazeleznic_trains, road_srti_lod, safety_data, community_context, aviation_weather, chmi_air_quality, chmi_weather_stations, chmi_weather_radar, chmi_weather_webcams, ardos_partner]
    MobileCoverageTechnology:
      type: string
      enum: [2G, 4G, 5G]
    MobileCoverageQuality:
      type: string
      enum: [good, fair, weak, none, unknown]
    ProviderCatalogLayerRole:
      type: string
      enum: [primary, reference, overlay, user, partner, diagnostic]
    ProviderCatalogSourceRole:
      type: string
      enum: [final, aggregate, reference, input, projection, mock, diagnostic]
    ProviderCatalogAudience:
      type: string
      enum: [public, authenticated, partner, admin, diagnostic]
    ProviderCatalogKind:
      type: string
      enum: [vector_features, grid_field, vector_field, raster_overlay, mvt_tiles, raster_tiles, track_stream, user_objects, static_reference, aggregate]
    BoundingBox:
      type: object
      required: [west, south, east, north]
      properties:
        west:
          type: number
        south:
          type: number
        east:
          type: number
        north:
          type: number
    WeatherForecastAreaDetail:
      type: object
      required: [contractVersion, generatedAt, sourceId, providerLayerId, catalogLayerId, area, summary, current, nowcast, hourly, daily, charts, sources, quality]
      properties:
        contractVersion:
          type: string
          const: sim-weather-forecast-area-detail-v1
        generatedAt:
          type: string
          format: date-time
        sourceId:
          type: string
          const: weather_forecast
        providerLayerId:
          type: string
          const: weather.forecast_area
        catalogLayerId:
          type: string
          const: public.weather.forecast_area
        area:
          type: object
          required: [areaId, bbox, center, resolutionDegrees, label]
          properties:
            areaId:
              type: string
            bbox:
              $ref: "#/components/schemas/BoundingBox"
            center:
              type: object
              required: [lat, lon]
              properties:
                lat:
                  type: number
                lon:
                  type: number
            resolutionDegrees:
              type: number
            label:
              type: string
        summary:
          type: object
          required: [symbolKey, conditionLabel, headlineCs, hazardType, riskLevel, severity, confidence, validFrom, validUntil]
          properties:
            symbolKey:
              type: string
            conditionLabel:
              type: string
            conditionLabelEn:
              type: string
            headlineCs:
              type: string
            headlineEn:
              type: string
            hazardType:
              type: string
            riskLevel:
              type: string
            severity:
              type: string
              enum: [info, advisory, warning, critical]
            confidence:
              type: number
              minimum: 0
              maximum: 1
            validFrom:
              type: string
              format: date-time
            validUntil:
              type: string
              format: date-time
        current:
          type: object
          additionalProperties: true
        nowcast:
          type: object
          additionalProperties: true
        hourly:
          type: object
          additionalProperties: true
        daily:
          type: object
          additionalProperties: true
        charts:
          type: array
          items:
            type: object
            required: [chartId, titleCs, titleEn, type, series]
            properties:
              chartId:
                type: string
              titleCs:
                type: string
              titleEn:
                type: string
              unit:
                type: string
              type:
                type: string
                enum: [line, bar, area]
              series:
                type: array
                items:
                  type: object
                  additionalProperties: true
        sources:
          type: array
          items:
            type: object
            additionalProperties: true
        quality:
          type: object
          additionalProperties: true
    License:
      type: object
      required: [name, attribution, commercialUse, operationalUse, notes]
      properties:
        name:
          type: string
        url:
          type: string
        attribution:
          type: string
        commercialUse:
          type: string
          enum: [allowed, allowed_with_obligations, requires_license, unknown]
        operationalUse:
          type: string
          enum: [allowed, allowed_with_obligations, requires_license, unknown]
        notes:
          type: array
          items:
            type: string
    LayerDescriptor:
      type: object
      required: [layerId, label, description, defaultVisible, geometryTypes]
      properties:
        layerId:
          $ref: "#/components/schemas/LayerId"
        label:
          type: string
        description:
          type: string
        defaultVisible:
          type: boolean
        geometryTypes:
          type: array
          items:
            type: string
            enum: [Point, LineString, Polygon, MultiPolygon]
        expectedCadenceSeconds:
          type: integer
    SourceDescriptor:
      type: object
      required: [sourceId, label, enabled, mode, priority, layers, license]
      properties:
        sourceId:
          $ref: "#/components/schemas/SourceId"
        label:
          type: string
        enabled:
          type: boolean
        mode:
          type: string
          enum: [live, mock, reference]
        priority:
          type: integer
        layers:
          type: array
          items:
            $ref: "#/components/schemas/LayerId"
        license:
          $ref: "#/components/schemas/License"
        baseUrl:
          type: string
        updateCadenceSeconds:
          type: integer
    ProviderMapCatalog:
      type: object
      required: [contractVersion, providerId, generatedAt, status, authority, layers, sources]
      properties:
        contractVersion:
          type: string
          const: provider-map-catalog-v1
        catalogVersion:
          type: string
          const: provider-map-catalog-v1
        providerId:
          type: string
          const: sim.situation-data
        generatedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [online]
        authority:
          type: object
          required: [contractVersion, document]
          properties:
            contractVersion:
              type: string
              const: map-catalog-v1
            catalogVersion:
              type: string
              const: map-catalog-v1
            document:
              type: string
              description: URL or path to the authoritative source-neutral COM Map Catalog provider document.
        layers:
          type: array
          items:
            $ref: "#/components/schemas/ProviderCatalogLayer"
        sources:
          type: array
          items:
            $ref: "#/components/schemas/ProviderCatalogSource"
    ProviderCatalogLayer:
      type: object
      required:
        [
          providerLayerId,
          recommendedCatalogLayerId,
          label,
          description,
          categoryPath,
          categories,
          role,
          audience,
          kind,
          defaultVisible,
          selectable,
          geometryTypes,
          minZoom,
          maxZoom,
          refreshSeconds,
          cacheTtlSeconds,
          styleProfile,
          sourceIds,
          query,
          legal
        ]
      properties:
        providerLayerId:
          type: string
        recommendedCatalogLayerId:
          type: string
          example: public.mobile.network
        label:
          type: string
        labelLocalized:
          type: object
          additionalProperties:
            type: string
        description:
          type: string
        descriptionLocalized:
          type: object
          additionalProperties:
            type: string
        categoryPath:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            type: string
        role:
          $ref: "#/components/schemas/ProviderCatalogLayerRole"
        audience:
          $ref: "#/components/schemas/ProviderCatalogAudience"
        kind:
          $ref: "#/components/schemas/ProviderCatalogKind"
        defaultVisible:
          type: boolean
        selectable:
          type: boolean
        geometryTypes:
          type: array
          items:
            type: string
            enum: [Point, LineString, Polygon, MultiPolygon]
        minZoom:
          type: integer
        maxZoom:
          type: integer
        refreshSeconds:
          type: integer
        cacheTtlSeconds:
          type: integer
        styleProfile:
          type: string
        sourceIds:
          type: array
          items:
            $ref: "#/components/schemas/SourceId"
        technicalInputs:
          type: array
          items:
            $ref: "#/components/schemas/SourceId"
        filters:
          type: array
          items:
            type: object
            required: [filterId, type]
            properties:
              filterId:
                type: string
              label:
                type: string
              type:
                type: string
                enum: [single_select, multi_select, boolean, range]
              values:
                type: array
                items:
                  type: string
              defaultValue: {}
        query:
          type: object
          required: [mode, providerId, streamId, providerLayerIds, providerSourceIds, maxFeatures]
          properties:
            mode:
              type: string
              const: bbox
            providerId:
              type: string
              const: sim.situation-data
            streamId:
              type: string
              description: Opaque provider stream id consumed by the COM backend; it is not a public browser URL.
            providerLayerIds:
              type: array
              items:
                $ref: "#/components/schemas/LayerId"
            providerSourceIds:
              type: array
              items:
                $ref: "#/components/schemas/SourceId"
            maxFeatures:
              type: integer
            categoryFilter:
              type: array
              items:
                type: string
        legend:
          type: object
          properties:
            profile:
              type: string
        model:
          type: object
          properties:
            modelVersion:
              type: string
            terrainAware:
              type: boolean
            demSource:
              type: string
            confidenceExplanation:
              type: string
        delivery:
          type: object
          properties:
            mode:
              type: string
              enum: [features, grid, vector_tiles, raster_tiles, raster_overlay]
            geometryRole:
              type: string
              enum: [feature_geometry, grid_cell, raster_extent]
            fallbackPolicy:
              type: string
              enum: [hide_if_unsupported, hide_if_raster_overlay_unsupported]
            doNotRenderGeometryFill:
              type: boolean
              description: When true, polygon geometry is metadata extent only and must not be displayed as a filled vector feature.
            valueField:
              type: string
              example: metrics.value
            stableGrid:
              type: object
              properties:
                alignment:
                  type: string
                  enum: [wgs84]
                resolutionDegrees:
                  type: number
                resolutionM:
                  type: number
            tileTemplate:
              type: string
        readModel:
          type: object
          properties:
            table:
              type: string
            refreshedBy:
              type: string
            cacheTtlSeconds:
              type: integer
        legal:
          type: object
          required: [attribution, notes]
          properties:
            attribution:
              type: string
            notes:
              type: array
              items:
                type: string
        supersedes:
          type: array
          items:
            type: string
        replacedBy:
          type: string
        compatibilityOnly:
          type: boolean
        preferredProviderId:
          type: string
    ProviderCatalogSource:
      type: object
      required:
        [
          sourceId,
          label,
          enabled,
          mode,
          layers,
          sourceRole,
          audience,
          selectableInMap,
          visibleInDiagnostics,
          feedsLayerIds,
          feedsCatalogLayerIds,
          cacheTtlSeconds,
          license
        ]
      properties:
        sourceId:
          $ref: "#/components/schemas/SourceId"
        label:
          type: string
        enabled:
          type: boolean
        mode:
          type: string
          enum: [live, mock, reference]
        layers:
          type: array
          items:
            $ref: "#/components/schemas/LayerId"
        sourceRole:
          $ref: "#/components/schemas/ProviderCatalogSourceRole"
        audience:
          $ref: "#/components/schemas/ProviderCatalogAudience"
        selectableInMap:
          type: boolean
          description: Whether COM may expose the whole source as a normal map selection. Prefer layer metadata for user-facing selection.
        visibleInDiagnostics:
          type: boolean
        feedsLayerIds:
          type: array
          items:
            type: string
        feedsCatalogLayerIds:
          type: array
          items:
            type: string
        usedByLayerIds:
          type: array
          items:
            type: string
        usedByCatalogLayerIds:
          type: array
          items:
            type: string
        technicalInputs:
          type: array
          items:
            $ref: "#/components/schemas/SourceId"
        replacedBy:
          $ref: "#/components/schemas/SourceId"
        preferredProviderId:
          type: string
        updateCadenceSeconds:
          type: integer
        cacheTtlSeconds:
          type: integer
        baseUrl:
          type: string
        backend:
          type: string
        license:
          $ref: "#/components/schemas/License"
        notes:
          type: array
          items:
            type: string
    PublicConfig:
      type: object
      required:
        [
          enabledSources,
          defaultBbox,
          cacheTtlSeconds,
          staleIfErrorSeconds,
          cacheMaxEntries,
          bboxCachePaddingDegrees,
          staleAfterSeconds,
          requestTimeoutMs,
          sourceCacheTtlSeconds,
          weatherRadarFrames,
          providers
        ]
      properties:
        enabledSources:
          type: array
          items:
            $ref: "#/components/schemas/SourceId"
        defaultBbox:
          $ref: "#/components/schemas/BoundingBox"
        cacheTtlSeconds:
          type: integer
        staleIfErrorSeconds:
          type: integer
        cacheMaxEntries:
          type: integer
        bboxCachePaddingDegrees:
          type: number
        staleAfterSeconds:
          type: integer
        requestTimeoutMs:
          type: integer
        sourceCacheTtlSeconds:
          type: object
          required: [openMeteo, mobileNetwork, mobileCoverage, osmPostgis, osmOverpass, ctuStationaryMobile, pidGtfsRt, pidGtfsStatic, publicTransitStatic, idsjmkVehiclePositions, spravaZeleznicTrains, roadSrtiLod, safetyData, aviationWeather, chmiAirQuality, chmiWeatherStations, chmiWeatherRadar, chmiWeatherWebcams, ardosPartner, radioPlanning]
          properties:
            openMeteo:
              type: integer
            mobileNetwork:
              type: integer
            mobileCoverage:
              type: integer
            osmPostgis:
              type: integer
            osmOverpass:
              type: integer
            ctuStationaryMobile:
              type: integer
            pidGtfsRt:
              type: integer
            pidGtfsStatic:
              type: integer
            publicTransitStatic:
              type: integer
            idsjmkVehiclePositions:
              type: integer
            spravaZeleznicTrains:
              type: integer
            roadSrtiLod:
              type: integer
            safetyData:
              type: integer
            aviationWeather:
              type: integer
            chmiAirQuality:
              type: integer
            chmiWeatherStations:
              type: integer
            chmiWeatherRadar:
              type: integer
            chmiWeatherWebcams:
              type: integer
            ardosPartner:
              type: integer
            radioPlanning:
              type: integer
        weatherRadarFrames:
          type: object
          required: [historyHours, maxCount, storeEnabled, mode, cleanCropInsetPixels]
          properties:
            historyHours:
              type: integer
            maxCount:
              type: integer
            storeEnabled:
              type: boolean
            mode:
              type: string
              enum: [metadata_only, local_filesystem]
            cleanCropInsetPixels:
              type: integer
        providers:
          type: array
          items:
            type: object
            required: [sourceId, authConfigured]
            properties:
              sourceId:
                $ref: "#/components/schemas/SourceId"
              baseUrl:
                type: string
              authConfigured:
                type: boolean
              backend:
                type: string
                description: Optional backend marker, e.g. unconfigured, patroni-postgis, chmi-opendata or ndic-srti-lod, without exposing credentials.
    WeatherCameraLocation:
      type: object
      required: [locationId, label, lon, lat, sourceDataUrl, detailUrl, snapshotUrl, providerPageUrl, camerasKnownAfterDetail]
      properties:
        locationId:
          type: string
          example: wgs84_14p445358_50p007510
        label:
          type: string
          example: ČHMÚ webkamera 50.00751, 14.44536
        lon:
          type: number
          format: double
          example: 14.445358
        lat:
          type: number
          format: double
          example: 50.00751
        sourceDataUrl:
          type: string
          format: uri
        detailUrl:
          type: string
          example: /api/v1/weather-cameras/wgs84_14p445358_50p007510
        snapshotUrl:
          type: string
          example: /api/v1/weather-cameras/wgs84_14p445358_50p007510/snapshot
        providerPageUrl:
          type: string
          format: uri
          example: https://www.chmi.cz/namerena-data/webkamery
        camerasKnownAfterDetail:
          type: boolean
          example: true
        originSourceId:
          type: string
          example: sps_lavdis_cameras
        originSourceName:
          type: string
          example: Státní plavební správa / LAVDIS kamery
        originAuthority:
          type: string
          example: Státní plavební správa
        originCategory:
          type: string
          example: waterway
        attribution:
          type: string
          example: Státní plavební správa
        snapshotAvailable:
          type: boolean
          example: true
      additionalProperties: false
    WeatherCamera:
      type: object
      required: [cameraId, name, snapshotUrl]
      properties:
        cameraId:
          type: string
          example: praha_libus-praha-libus
        name:
          type: string
          example: Praha-Libuš (VSV)
        providerUrl:
          type: string
          format: uri
        snapshotUrl:
          type: string
          example: /api/v1/weather-cameras/wgs84_14p445358_50p007510/snapshot?cameraId=praha_libus-praha-libus
        contentType:
          type: string
          example: image/gif
        snapshotAvailable:
          type: boolean
          example: true
      additionalProperties: false
    WeatherCameraCatalog:
      type: object
      required: [contractVersion, providerId, sourceId, generatedAt, updateCadenceSeconds, snapshotPolicy, locations, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-weather-cameras-v1
        providerId:
          type: string
          const: sim.situation-data
        sourceId:
          type: string
          const: chmi_weather_webcams
        generatedAt:
          type: string
          format: date-time
        updateCadenceSeconds:
          type: integer
          example: 300
        snapshotPolicy:
          type: object
          required: [mode, imagePayloadInFeatureStream, detailEndpoint, snapshotEndpoint]
          properties:
            mode:
              type: string
              const: on_demand_detail_snapshot
            imagePayloadInFeatureStream:
              type: boolean
              const: false
            detailEndpoint:
              type: string
              example: /api/v1/weather-cameras/{locationId}
            snapshotEndpoint:
              type: string
              example: /api/v1/weather-cameras/{locationId}/snapshot
          additionalProperties: false
        locations:
          type: array
          items:
            $ref: "#/components/schemas/WeatherCameraLocation"
        warnings:
          type: array
          items:
            type: string
      additionalProperties: false
    WeatherCameraDetail:
      type: object
      required: [contractVersion, providerId, sourceId, generatedAt, location, cameras, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-weather-cameras-v1
        providerId:
          type: string
          const: sim.situation-data
        sourceId:
          type: string
          const: chmi_weather_webcams
        generatedAt:
          type: string
          format: date-time
        location:
          $ref: "#/components/schemas/WeatherCameraLocation"
        cameras:
          type: array
          items:
            $ref: "#/components/schemas/WeatherCamera"
        warnings:
          type: array
          items:
            type: string
      additionalProperties: false
    WeatherRadarFrameCatalog:
      type: object
      required: [contractVersion, providerId, sourceId, generatedAt, historyHours, frameStore, rasterSemantics, products, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-weather-radar-frames-v1
        providerId:
          type: string
          const: sim.situation-data
        sourceId:
          type: string
          const: chmi_weather_radar
        generatedAt:
          type: string
          format: date-time
        historyHours:
          type: integer
        frameStore:
          type: object
          required: [enabled, mode, assetBasePath, cleanAssetBasePath]
          properties:
            enabled:
              type: boolean
            mode:
              type: string
              enum: [metadata_only, local_filesystem]
            assetBasePath:
              type: string
            cleanAssetBasePath:
              type: string
        rasterSemantics:
          type: object
          required: [projection, boundsWgs84, dataBoundsWgs84, sourceImageMayContainFrame, sourceImageMayContainEmbeddedLabels, cleanRasterAvailable, cleanMethod, cleanCropInsetPixels]
          properties:
            projection:
              type: string
              const: EPSG:3857
            boundsWgs84:
              type: array
              minItems: 4
              maxItems: 4
              items:
                type: number
            dataBoundsWgs84:
              type: array
              minItems: 4
              maxItems: 4
              items:
                type: number
            sourceImageMayContainFrame:
              type: boolean
            sourceImageMayContainEmbeddedLabels:
              type: boolean
            cleanRasterAvailable:
              type: boolean
            cleanMethod:
              type: string
              enum: [server_crop_to_data_bounds]
            cleanCropInsetPixels:
              type: integer
        products:
          type: array
          items:
            type: object
            required: [productId, layer, providerLayerId, catalogLayerId, label, description, contentType, updateCadenceSeconds, validForSeconds, styleHint, forecastArchive, frames]
            properties:
              productId:
                type: string
              layer:
                $ref: "#/components/schemas/LayerId"
              providerLayerId:
                type: string
              catalogLayerId:
                type: string
              label:
                type: string
              description:
                type: string
              contentType:
                type: string
              updateCadenceSeconds:
                type: integer
              validForSeconds:
                type: integer
              styleHint:
                type: string
              forecastArchive:
                type: boolean
              forecastHorizonMinutes:
                type: integer
              colorScaleUrl:
                type: string
              frames:
                type: array
                items:
                  type: object
                  required: [frameId, productId, observedAt, sourceUrl, sourceRevision, contentType, sourceImageMayContainFrame, sourceImageMayContainEmbeddedLabels, cleanRasterAvailable, boundsWgs84, dataBoundsWgs84, stored]
                  properties:
                    frameId:
                      type: string
                    productId:
                      type: string
                    observedAt:
                      type: string
                      format: date-time
                    validUntil:
                      type: string
                      format: date-time
                    sourceUrl:
                      type: string
                    sourceRevision:
                      type: string
                    contentType:
                      type: string
                    sourceImageMayContainFrame:
                      type: boolean
                    sourceImageMayContainEmbeddedLabels:
                      type: boolean
                    cleanRasterAvailable:
                      type: boolean
                    cleanUrl:
                      type: string
                    cleanStored:
                      type: boolean
                    cleanBoundsWgs84:
                      type: array
                      minItems: 4
                      maxItems: 4
                      items:
                        type: number
                    cleanMethod:
                      type: string
                      enum: [server_crop_to_data_bounds]
                    boundsWgs84:
                      type: array
                      minItems: 4
                      maxItems: 4
                      items:
                        type: number
                    dataBoundsWgs84:
                      type: array
                      minItems: 4
                      maxItems: 4
                      items:
                        type: number
                    stored:
                      type: boolean
                    localUrl:
                      type: string
        warnings:
          type: array
          items:
            type: string
    SourceHealthStatus:
      type: object
      required: [sourceId, status, warnings]
      properties:
        sourceId:
          $ref: "#/components/schemas/SourceId"
        status:
          type: string
          enum: [ok, degraded]
        backend:
          type: string
          enum: [unconfigured, local-postgis, patroni-postgis, external-postgis]
        objectCount:
          type: integer
          description: Present for PostGIS-backed providers when public.osm_poi is readable.
        lastImportAt:
          type: string
          format: date-time
        lastImportAgeSeconds:
          type: integer
        boundaryFeatureCount:
          type: integer
        boundaryLevels:
          type: array
          items:
            type: string
        boundaryLastImportAt:
          type: string
          format: date-time
        boundaryLastImportAgeSeconds:
          type: integer
        warnings:
          type: array
          items:
            type: string
    SituationObservability:
      type: object
      properties:
        serviceId:
          type: string
          const: situation-data-api
        generatedAt:
          type: string
          format: date-time
        status:
          type: string
          enum: [ok, degraded]
        cache:
          type: object
          additionalProperties: true
        sharedCache:
          type: object
          additionalProperties: true
        sourceCaches:
          type: array
          items:
            type: object
            additionalProperties: true
        dataFreshness:
          type: object
          additionalProperties: true
        environmentGrid:
          type: object
          description: Cataloged grid/field layer health, stable WGS84 grid alignment and upstream status.
          additionalProperties: true
        boundaryReadModel:
          type: object
          description: PostGIS administrative boundary read-model health, import age and feature count.
          additionalProperties: true
        sourceHealth:
          type: array
          items:
            type: object
            properties:
              sourceId:
                $ref: "#/components/schemas/SourceId"
              status:
                type: string
              backend:
                type: string
              objectCount:
                type: integer
              lastImportAt:
                type: string
                format: date-time
              lastImportAgeSeconds:
                type: integer
              boundaryFeatureCount:
                type: integer
              boundaryLevels:
                type: array
                items:
                  type: string
              boundaryLastImportAt:
                type: string
                format: date-time
              boundaryLastImportAgeSeconds:
                type: integer
              warningCount:
                type: integer
    SituationFeatureCollection:
      type: object
      required: [contractVersion, type, generatedAt, source, query, summary, features, sources, warnings]
      properties:
        contractVersion:
          type: string
          const: cop-situation-source-v1
        type:
          type: string
          const: FeatureCollection
        generatedAt:
          type: string
          format: date-time
        source:
          type: object
          properties:
            sourceId:
              type: string
              const: situation-data-api
            sourceType:
              type: string
              const: PUBLIC_SITUATION_AGGREGATE
            generatedAt:
              type: string
              format: date-time
        query:
          type: object
          properties:
            bbox:
              $ref: "#/components/schemas/BoundingBox"
            layers:
              type: array
              items:
                $ref: "#/components/schemas/LayerId"
            limit:
              type: integer
            sources:
              type: array
              items:
                $ref: "#/components/schemas/SourceId"
        summary:
          type: object
          properties:
            featureCount:
              type: integer
            sourceCount:
              type: integer
            staleFeatureCount:
              type: integer
            warningCount:
              type: integer
        features:
          type: array
          items:
            $ref: "#/components/schemas/SituationFeature"
        sources:
          type: array
          items:
            $ref: "#/components/schemas/SourceDescriptor"
        warnings:
          type: array
          items:
            type: string
    ProviderFeatureSummaryCollection:
      type: object
      required: [contractVersion, generatedAt, providerId, source, query, summary, features, sources, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-provider-feature-summary-v1
        generatedAt:
          type: string
          format: date-time
        providerId:
          type: string
          const: sim.situation-data
        source:
          type: object
          additionalProperties: true
        query:
          type: object
          additionalProperties: true
        summary:
          type: object
          additionalProperties: true
        features:
          type: array
          items:
            $ref: "#/components/schemas/ProviderFeatureSummary"
        sources:
          type: array
          items:
            $ref: "#/components/schemas/SourceDescriptor"
        warnings:
          type: array
          items:
            type: string
    ProviderFeatureDensityCollection:
      type: object
      required: [contractVersion, type, generatedAt, providerId, source, query, density, summary, features, sources, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-provider-feature-density-v1
        type:
          type: string
          const: FeatureCollection
        generatedAt:
          type: string
          format: date-time
        providerId:
          type: string
          const: sim.situation-data
        source:
          type: object
          additionalProperties: true
        query:
          type: object
          additionalProperties: true
        density:
          type: object
          required: [cellSizeDegrees, cellCount, maxCells, sampleSize, inputFeatureCount, omittedFeatureCount, truncated, omittedOriginalGeometry]
          properties:
            cellSizeDegrees:
              type: number
            cellCount:
              type: integer
            maxCells:
              type: integer
            sampleSize:
              type: integer
            inputFeatureCount:
              type: integer
            omittedFeatureCount:
              type: integer
            truncated:
              type: boolean
            omittedOriginalGeometry:
              type: boolean
              const: true
        summary:
          type: object
          additionalProperties: true
        features:
          type: array
          items:
            $ref: "#/components/schemas/ProviderFeatureDensityCell"
        sources:
          type: array
          items:
            $ref: "#/components/schemas/SourceDescriptor"
        warnings:
          type: array
          items:
            type: string
    ProviderFeatureDensityCell:
      type: object
      required: [type, id, geometry, properties]
      properties:
        type:
          type: string
          const: Feature
        id:
          type: string
        geometry:
          type: object
          required: [type, coordinates]
          properties:
            type:
              type: string
              const: Polygon
            coordinates:
              type: array
              items:
                type: array
                items:
                  type: array
                  minItems: 2
                  maxItems: 2
                  items:
                    type: number
        properties:
          type: object
          required: [featureId, providerId, layerId, providerLayerId, layer, category, featureCount, topSeverity, layerCounts, sourceCounts, severityCounts, sampleFeatureIds, bbox, centroid, rendering]
          properties:
            featureId:
              type: string
            providerId:
              type: string
              const: sim.situation-data
            layerId:
              type: string
            providerLayerId:
              type: string
            layer:
              $ref: "#/components/schemas/LayerId"
            category:
              type: string
              const: density_cell
            label:
              type: string
            featureCount:
              type: integer
            staleFeatureCount:
              type: integer
            topSeverity:
              type: string
              enum: [info, advisory, warning, critical]
            layerCounts:
              type: object
              additionalProperties:
                type: integer
            sourceCounts:
              type: object
              additionalProperties:
                type: integer
            severityCounts:
              type: object
              additionalProperties:
                type: integer
            sampleFeatureIds:
              type: array
              items:
                type: string
            bbox:
              type: object
              required: [west, south, east, north]
              properties:
                west:
                  type: number
                south:
                  type: number
                east:
                  type: number
                north:
                  type: number
            centroid:
              type: array
              minItems: 2
              maxItems: 2
              items:
                type: number
            rendering:
              type: object
              required: [mode, geometryRole]
              properties:
                mode:
                  type: string
                  const: grid
                geometryRole:
                  type: string
                  const: grid_cell
    ProviderFeatureSummary:
      type: object
      required: [featureId, layer, layerId, providerId, providerLayerId, sourceId, label, category, severity, stale, confidence, observedAt, geometrySummary, links]
      properties:
        featureId:
          type: string
        layer:
          $ref: "#/components/schemas/LayerId"
        layerId:
          type: string
        providerId:
          type: string
          const: sim.situation-data
        providerLayerId:
          type: string
        sourceId:
          $ref: "#/components/schemas/SourceId"
        sourceName:
          type: string
        label:
          type: string
        summary:
          type: string
        category:
          type: string
        hazardType:
          type: string
        typeCode:
          type: string
        sourceCode:
          type: string
        sourceSystem:
          type: string
        severity:
          type: string
          enum: [info, advisory, warning, critical]
        stale:
          type: boolean
        confidence:
          type: number
        observedAt:
          type: string
          format: date-time
        validFrom:
          type: string
          format: date-time
        validUntil:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        geometrySummary:
          $ref: "#/components/schemas/FeatureGeometrySummary"
        metrics:
          type: object
          additionalProperties: true
        rendering:
          type: object
          additionalProperties: true
        presentation:
          type: object
          additionalProperties: true
        taxonomy:
          type: object
          additionalProperties: true
        links:
          type: object
          required: [detail, geometry]
          properties:
            detail:
              type: string
            geometry:
              type: string
    ProviderFeatureDetail:
      type: object
      required: [contractVersion, generatedAt, providerId, source, query, summary, properties, links, warnings]
      properties:
        contractVersion:
          type: string
          const: sim-provider-feature-detail-v1
        generatedAt:
          type: string
          format: date-time
        providerId:
          type: string
          const: sim.situation-data
        source:
          type: object
          additionalProperties: true
        query:
          type: object
          additionalProperties: true
        summary:
          $ref: "#/components/schemas/ProviderFeatureSummary"
        properties:
          type: object
          additionalProperties: true
        localized:
          type: object
          additionalProperties: true
        providerProperties:
          type: object
          additionalProperties: true
        links:
          type: object
          additionalProperties: true
        warnings:
          type: array
          items:
            type: string
    TransitVehicleDetail:
      type: object
      required: [contractVersion, generatedAt, sourceId, systemId, featureId, vehicle, trip, stopTimes, quality]
      properties:
        contractVersion:
          type: string
          const: sim-transit-vehicle-detail-v1
        generatedAt:
          type: string
          format: date-time
        sourceId:
          type: string
          const: pid_gtfs_rt
        systemId:
          type: string
          const: pid
        featureId:
          type: string
          example: traffic:pid_gtfs_rt:service-3-pid-veh-1
        vehicle:
          type: object
          required: [transportMode]
          properties:
            vehicleId:
              type: string
            label:
              type: string
            transportMode:
              type: string
              enum: [bus, tram, metro, train, trolleybus]
            position:
              type: object
              properties:
                lat:
                  type: number
                lon:
                  type: number
                headingDeg:
                  type: number
                speedMps:
                  type: number
                observedAt:
                  type: string
                  format: date-time
            occupancyStatus:
              type: string
            occupancyPercent:
              type: number
              minimum: 0
              maximum: 100
            currentStatus:
              type: string
            currentStopSequence:
              type: integer
            stopId:
              type: string
        trip:
          type: object
          required: [status]
          properties:
            tripId:
              type: string
            routeId:
              type: string
            routeShortName:
              type: string
            routeLongName:
              type: string
            destination:
              type: string
            directionId:
              type: string
            startDate:
              type: string
            startTime:
              type: string
            status:
              type: string
              enum: [on_time, early, delayed, stopped, in_transit, stale, unknown]
        stopTimes:
          type: array
          items:
            type: object
            required: [stopId, stopSequence, relationToVehicle]
            properties:
              stopId:
                type: string
              stopName:
                type: string
              stopSequence:
                type: integer
              scheduledArrival:
                type: string
                example: "16:06:00"
              scheduledDeparture:
                type: string
                example: "16:06:07"
              relationToVehicle:
                type: string
                enum: [previous, current, next, future, unknown]
              position:
                type: object
                properties:
                  lat:
                    type: number
                  lon:
                    type: number
        routeShape:
          type: object
          required: [shapeId, coordinates, truncated]
          properties:
            shapeId:
              type: string
            coordinates:
              type: array
              items:
                type: array
                minItems: 2
                maxItems: 2
                items:
                  type: number
            truncated:
              type: boolean
        quality:
          type: object
          required: [realtimeVehicleAvailable, staticModelAvailable, tripScheduleAvailable, routeShapeAvailable, generatedFrom, warnings]
          properties:
            realtimeVehicleAvailable:
              type: boolean
            staticModelAvailable:
              type: boolean
            tripScheduleAvailable:
              type: boolean
            routeShapeAvailable:
              type: boolean
            generatedFrom:
              type: array
              items:
                type: string
            warnings:
              type: array
              items:
                type: string
    TransitStaticStopDetail:
      type: object
      required: [contractVersion, generatedAt, sourceId, systemId, modelVersion, stop, routes, departures, quality]
      properties:
        contractVersion:
          type: string
          const: sim-transit-stop-detail-v1
        generatedAt:
          type: string
          format: date-time
        sourceId:
          type: string
          const: public_transit_static
        systemId:
          type: string
        modelVersion:
          type: string
        stop:
          $ref: "#/components/schemas/TransitStaticStop"
        routes:
          type: array
          items:
            $ref: "#/components/schemas/TransitStaticRouteSummary"
        departures:
          type: array
          items:
            $ref: "#/components/schemas/TransitStaticDeparture"
        quality:
          $ref: "#/components/schemas/TransitStaticQuality"
    TransitStaticStopDepartures:
      type: object
      required: [contractVersion, generatedAt, sourceId, systemId, modelVersion, stop, departures, quality]
      properties:
        contractVersion:
          type: string
          const: sim-transit-stop-departures-v1
        generatedAt:
          type: string
          format: date-time
        sourceId:
          type: string
          const: public_transit_static
        systemId:
          type: string
        modelVersion:
          type: string
        stop:
          $ref: "#/components/schemas/TransitStaticStopSummary"
        departures:
          type: array
          items:
            $ref: "#/components/schemas/TransitStaticDeparture"
        quality:
          $ref: "#/components/schemas/TransitStaticQuality"
    TransitStaticRouteDetail:
      type: object
      required: [contractVersion, generatedAt, sourceId, systemId, modelVersion, route, trips, stops, quality]
      properties:
        contractVersion:
          type: string
          const: sim-transit-route-detail-v1
        generatedAt:
          type: string
          format: date-time
        sourceId:
          type: string
          const: public_transit_static
        systemId:
          type: string
        modelVersion:
          type: string
        route:
          $ref: "#/components/schemas/TransitStaticRouteSummary"
        trips:
          type: array
          items:
            $ref: "#/components/schemas/TransitStaticTripSummary"
        stops:
          type: array
          items:
            $ref: "#/components/schemas/TransitStaticStopSummary"
        routeShape:
          $ref: "#/components/schemas/TransitStaticRouteShape"
        quality:
          $ref: "#/components/schemas/TransitStaticQuality"
    TransitStaticTripDetail:
      type: object
      required: [contractVersion, generatedAt, sourceId, systemId, modelVersion, trip, stopTimes, quality]
      properties:
        contractVersion:
          type: string
          const: sim-transit-trip-detail-v1
        generatedAt:
          type: string
          format: date-time
        sourceId:
          type: string
          const: public_transit_static
        systemId:
          type: string
        modelVersion:
          type: string
        route:
          $ref: "#/components/schemas/TransitStaticRouteSummary"
        trip:
          $ref: "#/components/schemas/TransitStaticTripSummary"
        stopTimes:
          type: array
          items:
            $ref: "#/components/schemas/TransitStaticStopTimeDetail"
        routeShape:
          $ref: "#/components/schemas/TransitStaticRouteShape"
        quality:
          $ref: "#/components/schemas/TransitStaticQuality"
    TransitStaticStop:
      type: object
      required: [systemId, systemLabel, feedUrl, sourceKind, stopId, stopName, lon, lat]
      properties:
        systemId:
          type: string
        systemLabel:
          type: string
        feedUrl:
          type: string
          format: uri
        sourceKind:
          type: string
          enum: [gtfs_static, geojson_static]
        stopId:
          type: string
        stopCode:
          type: string
        stopName:
          type: string
        lon:
          type: number
        lat:
          type: number
        zoneId:
          type: string
        locationType:
          type: string
        parentStation:
          type: string
        wheelchairBoarding:
          type: string
    TransitStaticStopSummary:
      type: object
      required: [systemId, stopId, stopName]
      properties:
        systemId:
          type: string
        stopId:
          type: string
        stopCode:
          type: string
        stopName:
          type: string
        position:
          type: object
          required: [lat, lon]
          properties:
            lat:
              type: number
            lon:
              type: number
        zoneId:
          type: string
        wheelchairBoarding:
          type: string
    TransitStaticRouteSummary:
      type: object
      required: [systemId, routeId, transportMode]
      properties:
        systemId:
          type: string
        routeId:
          type: string
        routeShortName:
          type: string
        routeLongName:
          type: string
        transportMode:
          type: string
        routeType:
          type: integer
        color:
          type: string
        textColor:
          type: string
        agencyId:
          type: string
    TransitStaticTripSummary:
      type: object
      required: [systemId, tripId, routeId]
      properties:
        systemId:
          type: string
        tripId:
          type: string
        routeId:
          type: string
        routeShortName:
          type: string
        routeLongName:
          type: string
        transportMode:
          type: string
        destination:
          type: string
        directionId:
          type: string
        serviceId:
          type: string
        shapeId:
          type: string
    TransitStaticDeparture:
      type: object
      required: [systemId, stopId, tripId, routeId, transportMode, stopSequence, serviceActive]
      properties:
        systemId:
          type: string
        stopId:
          type: string
        tripId:
          type: string
        routeId:
          type: string
        routeShortName:
          type: string
        routeLongName:
          type: string
        transportMode:
          type: string
        destination:
          type: string
        directionId:
          type: string
        serviceId:
          type: string
        scheduledArrival:
          type: string
          example: "08:00:00"
        scheduledDeparture:
          type: string
          example: "08:00:00"
        minutesFromQueryTime:
          type: integer
        stopSequence:
          type: integer
        serviceActive:
          type: boolean
    TransitStaticStopTimeDetail:
      type: object
      required: [stopId, stopSequence]
      properties:
        stopId:
          type: string
        stopName:
          type: string
        stopSequence:
          type: integer
        scheduledArrival:
          type: string
        scheduledDeparture:
          type: string
        position:
          type: object
          properties:
            lat:
              type: number
            lon:
              type: number
    TransitStaticRouteShape:
      type: object
      required: [shapeId, coordinates, truncated]
      properties:
        shapeId:
          type: string
        coordinates:
          type: array
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: number
        truncated:
          type: boolean
    TransitStaticQuality:
      type: object
      required: [staticModelAvailable, scheduleAvailable, routeShapeAvailable, generatedFrom, modelLoadedAt, feedCount, warnings]
      properties:
        staticModelAvailable:
          type: boolean
        scheduleAvailable:
          type: boolean
        routeShapeAvailable:
          type: boolean
        generatedFrom:
          type: array
          items:
            type: string
        modelLoadedAt:
          type: string
          format: date-time
        feedCount:
          type: integer
        warnings:
          type: array
          items:
            type: string
    ProviderFeatureGeometry:
      type: object
      required: [contractVersion, generatedAt, providerId, featureId, layer, layerId, providerLayerId, resolution, geometry, geometrySummary]
      properties:
        contractVersion:
          type: string
          const: sim-provider-feature-geometry-v1
        generatedAt:
          type: string
          format: date-time
        providerId:
          type: string
          const: sim.situation-data
        featureId:
          type: string
        layer:
          $ref: "#/components/schemas/LayerId"
        layerId:
          type: string
        providerLayerId:
          type: string
        resolution:
          type: string
          enum: [native]
        geometry:
          type: object
          additionalProperties: true
        geometrySummary:
          $ref: "#/components/schemas/FeatureGeometrySummary"
    FeatureGeometrySummary:
      type: object
      required: [type, coordinateCount, geometryRole]
      properties:
        type:
          type: string
          enum: [Point, LineString, Polygon, MultiPolygon]
        bbox:
          $ref: "#/components/schemas/BoundingBox"
        centroid:
          type: array
          minItems: 2
          maxItems: 2
          items:
            type: number
        coordinateCount:
          type: integer
        geometryRole:
          type: string
          enum: [feature_geometry, grid_cell, raster_extent, wind_vector]
        renderingMode:
          type: string
    ProviderTaxonomy:
      type: object
      required: [contractVersion, generatedAt, providerId, taxonomies]
      properties:
        contractVersion:
          type: string
          const: sim-provider-taxonomy-v1
        generatedAt:
          type: string
          format: date-time
        providerId:
          type: string
          const: sim.situation-data
        taxonomies:
          type: array
          items:
            type: object
            required: [taxonomyId, label, entries]
            properties:
              taxonomyId:
                type: string
              label:
                type: string
              entries:
                type: array
                items:
                  type: object
                  additionalProperties: true
    SituationFeature:
      type: object
      required: [type, id, geometry, properties]
      properties:
        type:
          type: string
          const: Feature
        id:
          type: string
        geometry:
          type: object
          required: [type, coordinates]
          properties:
            type:
              type: string
              enum: [Point, LineString, Polygon, MultiPolygon]
            coordinates: {}
        properties:
          type: object
          required: [featureId, layer, category, label, sourceId, observedAt, confidence, stale, severity, license]
          properties:
            featureId:
              type: string
            layerId:
              type: string
              description: Recommended COM catalog layer id, e.g. public.mobile.network.
            providerId:
              type: string
              const: sim.situation-data
            providerLayerId:
              type: string
            layer:
              $ref: "#/components/schemas/LayerId"
            category:
              type: string
            label:
              type: string
            labelLocalized:
              type: object
              additionalProperties:
                type: string
            summaryLocalized:
              type: object
              additionalProperties:
                type: string
            sourceId:
              $ref: "#/components/schemas/SourceId"
            source:
              type: string
            sourceName:
              type: string
            observedAt:
              type: string
              format: date-time
            validFrom:
              type: string
              format: date-time
            validUntil:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time
            confidence:
              type: number
              minimum: 0
              maximum: 1
            stale:
              type: boolean
            severity:
              type: string
              enum: [info, advisory, warning, critical]
            license:
              type: object
              required: [name, attribution]
              properties:
                name:
                  type: string
                attribution:
                  type: string
                url:
                  type: string
            metrics:
              type: object
              additionalProperties: true
            tags:
              type: object
              additionalProperties:
                type: string
            rendering:
              type: object
              description: Provider-side rendering contract for geometries that are grid cells or raster extents rather than ordinary vector polygons.
              properties:
                mode:
                  type: string
                  enum: [feature, grid_field, vector_field, raster_overlay]
                geometryRole:
                  type: string
                  enum: [feature_geometry, grid_cell, raster_extent, wind_vector]
                valueMetric:
                  type: string
                unit:
                  type: string
                opacity:
                  type: number
                doNotRenderGeometryFill:
                  type: boolean
                fallbackPolicy:
                  type: string
                  enum: [hide_if_unsupported, hide_if_raster_overlay_unsupported]
            transportMode:
              type: string
              description: Normalized public-transport or road mode, e.g. bus, tram, train, metro, trolleybus, road.
            routeShortName:
              type: string
              description: Normalized route or line short name for transit vehicles.
            destination:
              type: string
              description: Normalized destination/headsign when provided by the source.
            delaySeconds:
              type: number
              description: Normalized delay in seconds when provided by the source.
            vehicleId:
              type: string
              description: Stable provider vehicle identifier for transit vehicles.
            tripId:
              type: string
              description: Provider trip identifier for transit vehicles.
            occupancyStatus:
              type: string
              description: Normalized GTFS-style occupancy status when provided by the source.
            occupancyPercent:
              type: number
              minimum: 0
              maximum: 100
              description: Vehicle occupancy estimate in percent when provided by the source.
            headingDeg:
              type: number
[...]
